#section1
  position: relative

.lines_block
  position: absolute
  top: 0
  width: 626px
  left: 50%
  margin-left: -420px
  @media screen and ( max-width: 768px )
    display: none
  .inner
    position: relative
    span
      display: inline-block
      position: absolute
      top: 0
      &.line1      
        background: url(../images/line1.png) no-repeat 0 0 
        width: 291px
        height: 157px
        left: 63px 
        top: 77px
        @media screen and ( max-width: 1024px )
          width: 242px
          left: 141px        
      &.line2      
        background: url(../images/line2.png) no-repeat 0 0 
        width: 33px
        height: 242px
        top: 76px
        left: 29px
        @media screen and ( max-width: 1024px )
          left: 112px
      &.line3      
        background: url(../images/line3.png) no-repeat 0 0 
        width: 158px
        height: 195px
        top: 213px
        left: 353px
      &.line4      
        background: url(../images/line4.png) no-repeat 0 0 
        width: 355px
        height: 124px
        top: 408px
        left: 155px      
        @media screen and ( max-width: 1024px )
          top: 410px
          left: 205px
      &.line5      
        background: url(../images/line5.png) no-repeat 0 0 
        width: 151px
        height: 254px
        top: 414px
        left: 374px
      &.line6      
        background: url(../images/line6.png) no-repeat 0 0 
        width: 108px
        height: 295px
        top: 415px
        left: 517px
        


#section2, #section3, #section4
  .post
    visibility: hidden
    @media screen and ( max-width: 768px )
      visibility: visible

#section4
  padding-bottom: 200px
  @media screen and ( max-width: 768px )
    padding-bottom: 50px

.about_list
  list-style-type: none
  margin: 85px auto 0 
  display: table
  max-width: 820px
  font: 14px/1.25 "SegoeWPSemilight"
  @media screen and ( max-width: 1024px )
    max-width: auto
  @media screen and ( max-width: 768px )
    margin: 40px auto 0 
    text-align: center
  li
    position: relative
    z-index: 1
    div
      position: relative
      &:before
        content: ''
        display: inline-block
        background-image: url(../images/about_icons.png)
        background-repeat: no-repeat
        background-position: 0 0
        position: absolute
        left: 0
        top: 0
        @media screen and ( max-width: 768px )
          position: static
          display: block
          margin: 0 auto 20px
      @media screen and ( max-width: 768px )
        padding-left: 0 !important
        margin: 0 0 40px !important
        width: auto !important
    &.item1
      div
        width: 370px
        padding-left: 127px
        +animation-timing-function(ease)
        @media screen and ( max-width: 1024px )
          width: 330px
        &:before
          width: 99px
          height: 99px
          top: 27px
    &.item2
      div
        width: 372px
        padding-left: 123px
        margin: 63px 0 0 290px
        +animation-timing-function(ease-in-out)
        @media screen and ( max-width: 1024px )
          margin: 63px 0 0 200px
          width: 315px
        &:before
          width: 99px
          height: 99px
          background-position: -124px 0
          top: -15px
    &.item3
      div
        width: 292px
        padding-left: 88px
        margin-top: 80px
        +animation-timing-function(linear)
        @media screen and ( max-width: 1024px )
          width: 250px
        &:before
          width: 99px
          height: 99px
          background-position: -247px 0
          top: -67px
          left: 5px
    &.item4
      div
        width: 325px
        margin: 45px 0 0 465px
        +animation-timing-function(ease-in)
        @media screen and ( max-width: 1024px )
          margin: 45px 0 0 375px
          width: 265px
        &:before
          width: 99px
          height: 99px
          background-position: -374px 0
          top: -120px
    &.item5
      div
        width: 175px
        padding-left: 40px
        margin-top: -75px
        +animation-timing-function(ease)
        &:before
          width: 44px
          height: 37px
          background-position: -503px -1px
          top: -23px
          left: 5px
    &.item6
      div
        width: 277px
        margin: 68px 0 0 257px
        +animation-timing-function(linear)
        @media screen and ( max-width: 1024px )
          margin: 68px 0 0 190px
        &:before
          width: 47px
          height: 33px
          background-position: -572px -3px
          top: -18px
          left: -30px
    &.item7
      div
        width: 235px
        margin-left: 592px
        +animation-timing-function(ease-in)
        @media screen and ( max-width: 1024px )
          margin-left: 460px
          width: 185px
        &:before
          width: 47px
          height: 22px
          background-position: -642px -1px
          top: -2px
          left: -30px
    &.item8
      div
        text-align: center
        .title
          color: #ccc
          font: 200px/200px "PantonLight"
          @media screen and ( max-width: 1024px )
            font: 150px/150px "PantonLight"
          @media screen and ( max-width: 768px )
            font: 100px/100px "PantonLight"
            position: static !important
        p 
          font: 36px/36px "PantonLight"
          color: #000
          text-transform: uppercase
          @media screen and ( max-width: 1024px )
            max-width: 625px
          @media screen and ( max-width: 768px )
            font: 18px/30px "PantonLight"
            margin: 20px 0 40px 0
    &.item9
      div
        width: 327px
        margin: 92px auto 0
        .title
          font: 36px/36px "PantonLight"      
        &:before
          width: 45px
          height: 78px
          background-position: -713px -1px
          top: -13px
          left: -60px
    &.item10
      div
        width: 307px
        margin-top: 175px
        @media screen and ( max-width: 1024px )
          width: 230px
        .title
          font: 34px/34px "PantonLight"      
        &:before
          width: 82px
          height: 85px
          background-position: -773px -2px
          top: -100px
          left: 24px
    &.item11
      div
        width: 260px
        margin: -17px 0 0 353px
        @media screen and ( max-width: 1024px )
          margin: -17px 0 0 240px
        .title
          font: 34px/34px "PantonLight"      
        &:before
          width: 76px
          height: 87px
          background-position: -870px -1px
          top: -105px
          left: -4px
    &.item12
      div
        width: 252px
        margin: -173px 0 0 572px
        @media screen and ( max-width: 1024px )
          margin: -173px 0 0 430px
          width: 175px
        .title
          font: 34px/34px "PantonLight"      
        &:before
          width: 80px
          height: 91px
          background-position: -965px -1px
          top: -112px
          left: -5px
  p
    margin: 0
  .title
    font: 45px/45px "PantonLight"
    color: #000
    text-transform: uppercase
    position: relative
    display: block
    margin-bottom: 5px
    @media screen and ( max-width: 1024px )
      font: 34px/34px "PantonLight"

.with_us
  position: relative
  margin-top: -100px
  @media screen and ( max-width: 768px )
    margin-top: 0
  .title
    color: #ccc
    font: 200px/200px "PantonLight"
    position: absolute
    width: 100%
    bottom: -505px
    display: block
    text-transform: uppercase
    text-align: center
    @media screen and ( max-width: 1024px )
      font: 150px/150px "PantonLight"
      bottom: -465px
    @media screen and ( max-width: 768px )
      font: 60px/60px "PantonLight"          
      position: static !important 



