@font-face
  font-family: 'webway'
  src: url('../fonts/webway/webway.eot')
  src: url('../fonts/webway/webway.eot#iefix') format("embedded-opentype"), url('../fonts/webway/webway.woff2') format("woff2"), url('../fonts/webway/webway.woff') format("woff"), url('../fonts/webway/webway.ttf') format("truetype"), url('../fonts/webway/webway.svg#webway') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: "HelveticaLight"
  src: url("../fonts/HelveticaLight/helv-4-light.eot")
  src: url("../fonts/HelveticaLight/helv-4-light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/helv-4-light.ttf") format("truetype"), url("../fonts/HelveticaLight/helv-4-light.woff") format("woff"), url("../fonts/HelveticaLight/helv-4-light.woff2") format("woff2"), url('../fonts/HelveticaLight/helv-4-light.svg#HelveticaLight') format("svg")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "SegoeWPSemilight"
  src: url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.eot")
  src: url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.ttf") format("truetype"), url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.woff") format("woff"), url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.woff2") format("woff2"), url('../fonts/SegoeWPSemilight/SegoeWP-SemiLight.svg#SegoeWPSemilight') format("svg")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "SegoeUIRegular"
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot")
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url('../fonts/SegoeUIRegular/SegoeUIRegular.svg#SegoeUIRegular') format("svg")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "PantonRegular"
  src: url("../fonts/PantonRegular/panton-webfont.eot")
  src: url("../fonts/PantonRegular/panton-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PantonRegular/panton-webfont.ttf") format("truetype"), url("../fonts/PantonRegular/panton-webfont.woff") format("woff"), url("../fonts/PantonRegular/panton-webfont.woff2") format("woff2"), url('../fonts/PantonRegular/panton-webfont.svg#PantonRegular') format("svg")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "PantonLight"
  src: url("../fonts/PantonLight/panton_light-webfont.eot")
  src: url("../fonts/PantonLight/panton_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PantonLight/panton_light-webfont.ttf") format("truetype"), url("../fonts/PantonLight/panton_light-webfont.woff") format("woff"), url("../fonts/PantonLight/panton_light-webfont.woff2") format("woff2"), url('../fonts/PantonLight/panton_light-webfont.svg#PantonLight') format("svg")
  font-style: normal
  font-weight: normal
 

@font-face
  font-family: "PantonExtraLight"
  src: url("../fonts/PantonExtraLight/panton_extralight-webfont.eot")
  src: url("../fonts/PantonExtraLight/panton_extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PantonExtraLight/panton_extralight-webfont.ttf") format("truetype"), url("../fonts/PantonExtraLight/panton_extralight-webfont.woff") format("woff"), url("../fonts/PantonExtraLight/panton_extralight-webfont.woff2") format("woff2"), url('../fonts/PantonExtraLight/panton_extralight-webfont.svg#PantonExtraLight') format("svg")
  font-style: normal
  font-weight: normal  

@font-face 
  font-family: 'PantonBold'
  src: url('../fonts/PantonBold/Panton-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/PantonBold/Panton-Bold.otf')  format('opentype'), url('../fonts/PantonBold/Panton-Bold.woff') format('woff'), url('../fonts/PantonBold/Panton-Bold.ttf')  format('truetype'), url('../fonts/PantonBold/Panton-Bold.svg#Panton-Bold') format('svg')
  font-weight: normal
  font-style: normal
