@import "mixin"   

input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] 
  -webkit-appearance: none
  -moz-appearance: none 
  -webkit-border-radius: 0
  -moz-border-radius: 0


.mobile_only
  .header_search 
    margin: 20px 0 10px
    display: block
    @media screen and ( max-width: 768px )
      input[type="text"]
        width: 190px
.header_search
  float: left
  margin-top: 14px
  margin-right: 45px
  display: block
  @media screen and ( max-width: 768px )
    float: none
    display: table-cell
    vertical-align: middle
.main_block-item_form
  width: 184px

input
  outline: none

.header_search input, .main_block-item_form input
  font: 12px 'SegoeWPSemilight', Aria, Helvetica, sans-serif

.header_search input[type="text"]
  background-color: #e1e1e1
  border: 0
  border-radius: 15px 0 0 15px
  height: 24px
  width: 152px
  padding: 0 12px
  box-sizing: border-box
  float: left

.main_block-item_form input
  &[type="text"], &[type="phone"]
    background-color: #e1e1e1
    border: 0
    border-radius: 15px 0 0 15px
    height: 24px
    width: 152px
    padding: 0 12px
    box-sizing: border-box
    float: left

.header_search input[type="submit"]
  background: url(../../../_pic/style/ww-sprite.png) 11px -295px no-repeat #555555
  overflow: hidden
  text-indent: -100px
  width: 38px
  height: 24px
  border-radius: 0 15px 15px 0
  border: 0
  margin: 0
  cursor: pointer
  +transition(opacity ease-out 0.2s)
  &:hover 
    opacity: 0.8    

.main_block-item_form input
  &[type="submit"]
    background: url(../../../_pic/style/ww-sprite.png) 11px -295px no-repeat #555555
    overflow: hidden
    text-indent: -100px
    width: 38px
    height: 24px
    border-radius: 0 15px 15px 0
    border: 0
    margin: 0
  &[type="text"]
    border-radius: 15px
    margin-bottom: 18px 
    width: 183px
  &[type="phone"]
    width: 146px
  &[type="submit"]
    background-position: 12px -400px

.portfolio_search
  width: 100%
  position: relative
  input[type="search"]
    width: 100%
    box-sizing: border-box
    height: 45px
    border-left: 0
    border-right: 0
    border-width: 1px
    border-top: 2px solid #decef3
    border-bottom: 1px solid #d1d1d1
    padding: 0 10px 0 50px
    border-radius: 0
    &::-ms-clear 
      display: none 
      width: 0 
      height: 0
    &::-webkit-inner-spin-button 
      display: none 
      width: 0
      height: 0 
    @media screen and ( max-width: 768px )
      -webkit-appearance: none
      -moz-appearance: none 
      -webkit-border-radius: 0
      -moz-border-radius: 0      
  &.icon-search:before
    position: absolute
    left: 10px
    top: 7px
    color: #93999a
    font-size: 25px
  input[type="submit"]
    display: none

.filter_form
  padding: 0
  margin: 20px 0 
  font: bold 24px/24px "PantonLight"
  color: #000
  letter-spacing: -0.04em
  button
    border: 0
    cursor: pointer
    border-bottom: 1px dashed #666
    border-radius: 0
    box-shadow: none
    display: inline-block
    color: #666666
    padding: 0
    margin: 0 38px 0 20px
    letter-spacing: -0.015em
    text-shadow: none
    position: relative
    font: 24px/24px 'PantonLight'
    background-color: inherit
    width: auto !important
    @media screen and ( max-width: 768px )
      margin: 20px 0 0 0
      display: block
    &:focus
      outline: none

.ui-multiselect span.ui-icon
  border-left: none
  height: 100%
  position: absolute
  right: -38px
  top: 3px
  width: 20px
  color: #9555ec
  border: 1px solid #9555ec
  border-radius: 3px
  height: 20px

.ui-multiselect-checkboxes
  padding: 0
  list-style-type: none
  li
    font-size: 0.95em
    padding-right: 0
    list-style-type: none

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
  background-image: none
  background-color: #9555ec
  border: none
  color: #fff
  font-weight: normal
  border-radius: 0

.ui-multiselect-checkboxes label
  padding: 5px 10px 6px
  input
    float: right
    top: 5px

.ui-widget-content
  background-image: none
  background-color: #f5f5f5
  border: 1px solid #c8ccc9
  width: 230px !important
  padding: 0

.date_select    
  display: inline-block
  button
    margin: 0 0 0 70px
    @media screen and ( max-width: 768px )
      margin: 20px 0 0 30px

  .ui-multiselect span.ui-icon      
    left: -30px
    right: auto
    float: left
    background: url(../images/clock.png) no-repeat 0 0
    border: none
    width: 23px
    height: 23px
    top: 2px
    &:before
      display: none

.tag_list
  padding: 0
  list-style-type: none
  margin: 16px auto 20px
  li
    display: inline-block 
    padding: 0 12px 0 10px
    border: 1px solid #c8cbd1
    border-radius: 14px
    margin: 0 6px 12px 0
    position: relative
    height: 26px
    cursor: pointer
    font-family: "SegoeWPSemilight"
    color: #000
    font-size: 14px
    line-height: 26px
    @media screen and ( max-width: 768px )
      display: flex
      overflow: hidden
      margin-right: 0

    &:hover
      border: 1px dashed #c8cbd1
    span
      color: #999999
    .case-quantity
      font-size: 11px
      margin-left: 5px
      line-height: 26px
      @media screen and ( max-width: 768px )      
        position: absolute
        right: 20px
    .icon-cancel
      margin-left: 6px
      @media screen and ( max-width: 768px )
        position: absolute
        right: 10px
    &:hover .icon-cancel
      color: #fa7a92




