@import "mixin"      

.header-wrap
  background-color: #f5f5f5
  box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.5)
  width: 100%
  margin: 0 auto
  position: fixed 
  z-index: 1000 
  height: 55px 
  +box-sizing(border-box)
  padding: 0 20%
  @media screen and ( max-width: 1920px )
    padding: 0 15%
  @media screen and ( max-width: 1680px )
    padding: 0 10%
  @media screen and ( max-width: 1280px )
    padding: 0 60px
  @media screen and ( max-width: 1024px )
    padding: 0 40px
  @media screen and ( max-width: 768px )
    padding: 0 20px
  .header_menu_button
    display: block
    position: absolute
    z-index: 50
    color: #475154
    cursor: pointer
    display: inline-block
    vertical-align: top
    font-size: 14px
    line-height: 29px
    height: 31px
    padding: 0 12px
    transition: all .15s ease
    position: relative
    font-family: SegoeWPSemilight
    background-color: #fff
    border: 1px solid #d8ddde
    +border-radius(3px)
    margin: 11px 17px 0 0
    text-decoration: none
    +transition(opacity ease-out 0.2s)
    @media screen and ( max-width: 768px )
      margin: 11px 17px 11px 0
    &:hover 
      opacity: 0.8    
    span
      margin-right: 9px
      @media screen and ( max-width: 768px )
        display: none
    .icon-menu
      font-size: 18px
      display: inline-block
      height: 31px
      vertical-align: middle
  &.active-menu 
    .header_menu_button
      +linear-gradient(90deg, #9d79e2, #6fecbb)
      color: #fff

  .header
    width: 100%
    margin: 0 auto
    padding: 0
    background-color: #f5f5f5
    .left
      float: left
      position: relative
      @media screen and ( max-width: 768px )
        float: none
    .right
      float: right
      @media screen and ( max-width: 768px )
        display: none

  .header
    .logo
      margin: 14px 30px 0 0
      display: inline-block
      a
        background: url(../images/logo.png) no-repeat 0 0
        background-size: contain 
        text-indent: -5000px
        width: 107px
        height: 26px
        display: inline-block
        +transition(opacity ease-out 0.2s)
      @media screen and ( max-width: 768px )
        position: absolute
        width: 100%
        left: 0
        text-align: center
        a
          margin: 0 auto
        &:hover 
          opacity: 0.8      

  .header_text
    color: #9555ec
    font: 24px "PantonRegular", Aria, Helvetica, sans-serif
    display: inline-block
    margin-top: 12px
    vertical-align: top
    letter-spacing: -0.02em
    margin-left: 0
    @media screen and ( max-width: 900px )
      display: none

  .header_social.fb, .header_location
    float: left
    width: 56px
    height: 54px
    overflow: hidden
    +transition(opacity ease-out 0.2s) 
    @media screen and ( max-width: 768px )
      display: table-cell
      vertical-align: middle
      border: none !important 
      float: none
    &:hover 
      opacity: 0.8      
  .header_location
    width: 38px
    @media screen and ( max-width: 768px )
      width: 25px
  .header_social
    &.fb
      border: 1px solid #d0d9dc
      border-width: 0 1px 0 1px
      text-align: center
      @media screen and ( max-width: 768px )
        width: 28px

#header_menu
  position: fixed 
  left: 0
  width: 100%
  height: 100%
  top: 55px 
  z-index: 10
  button
    display: none
  @media screen and ( max-width: 768px )
    z-index: 200

.header_menu_wrapper
  position: absolute
  width: 248px
  top: 0
  background-color: #f8f9fb
  height: 100%
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.3)
  padding: 0 0 0 20%
  p
    text-align: left
    padding: 0
    width: 248px
    left: initial
    margin: 0 0 50px
    padding-right: 60px
    width: 200px
    font-size: 13px
    line-height: 1.65
    @media screen and ( max-width: 768px )
      margin-bottom: 120px
    i 
      display: inline-block
      margin-right: 5px
  @media screen and ( max-width: 1920px )
    padding: 0 0 0 15%
  @media screen and ( max-width: 1680px )
    padding: 0 0 0 10%
  @media screen and ( max-width: 1280px )
    padding: 0 0 0 60px
  @media screen and ( max-width: 1024px )
    padding: 0 0 0 40px
  @media screen and ( max-width: 768px )
    padding: 0 0 0 20px


.header_menu_container
  overflow: hidden
  width: 248px
  height: 100%
  .header_menu_overflow
    overflow-y: auto
    overflow-x: hidden
    width: 273px
    height: 100%
    ul
      &:first-child
        margin-top: 77px
        @media screen and ( max-width: 768px )
          margin-top: 20px
      margin-bottom: 40px
      list-style-type: none
      text-align: left
      padding: 0
      width: 248px
      left: initial
      @media screen and ( max-width: 768px )
        margin-bottom: 20px
      li
        border-bottom: 1px solid #e0e0e2
        font-size: 19px
        color: #020202
        padding: 13px 0
        line-height: 1
        letter-spacing: 0.03em
        a
          text-decoration: none
          color: #020202
          +transition(opacity ease-out 0.2s)
          span
            position: relative
            color: #a876f3
            font-size: 12px
            top: -5px
            margin-left: 5px
          &:hover 
            opacity: 0.8              

.header_menu_link 
  display: block
  width: 42px
  height: 40px
  background: url('../images/itm-sprite.png') -272px 0 no-repeat red

.header_menu-wrap 
  display: none



