[class^="icon-"]:before, [class*=" icon-"]:before, [class^="ui-icon-"]:before, [class*=" ui-icon-"]:before
  font-family: "webway"
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  text-align: center
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal
  text-transform: none
  /* fix buttons height, for twitter bootstrap */
  line-height: 1
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

.icon-news:before
  content: '\e800'

.icon-reviews:before
  content: '\e801'

.icon-search:before
  content: '\e811'

.icon-search-2:before
  content: '\e804'

.icon-location:before
  content: '\f031'

.icon-location-2:before
  content: '\e805'

.icon-menu:before
  content: '\f0c9'

.icon-angle-right:before
  content: '\f105'

.icon-angle-left:before 
  content: '\f104' 

.icon-facebook-squared:before
  content: '\f308'

.icon-down:before
  content: '\e803'

.icon-up:before
  content: '\e802'

.icon-cancel:before
  content: '\e806'

.active-menu .header_menu_button .icon-menu
  color: #fff

.header
  .icon-facebook-squared
    color: #475154
    font-size: 25px
    line-height: 2.1
  .icon-location
    color: #475154
    margin-left: 22px
    font-size: 22px
    line-height: 2.4
  .icon-location-2
    position: absolute
    top: -52px
    left: 5px
    color: #a876f3
    font-size: 32px
  .icon-search
    color: #fff
    &:after
      content: '\e811'

.main_block-item-icon
  &.icon-news
    font-size: 48px
    top: -6px
    left: 4px
  &.icon-reviews
    font-size: 48px
    top: -5px
    left: -5px

.portfolio_search.icon-search-2:before
  top: 8px
  position: absolute
  font-size: 24px
  left: 15px

.ui-icon-triangle-1-s:before
  content: '\e803'
  left: 4px
  position: absolute
  top: 2px
  font-size: 15px

.ui-state-active .ui-icon-triangle-1-s:before
  content: '\e802'

.tag-list_li-remove .icon-cancel:before
  font-size: 18px