=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius   
  -ms-border-radius:     $radius
  border-radius:         $radius 
  
=transition($args...) 
  -webkit-transition: $args
  -moz-transition: $args 
  -ms-transition: $args
  -o-transition: $args
  transition: $args

=transform($args...) 
  -webkit-transform: $args
  transform: $args

=box-sizing($box-model) 
  -webkit-box-sizing: $box-model // Safari <= 5
  -moz-box-sizing: $box-model // Firefox <= 19
  box-sizing: $box-model

=linear-gradient($direction, $color-stops...) 
  background: nth(nth($color-stops, 1), 1)
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops)
  background: linear-gradient($direction, $color-stops)

=rotate($val) 
  -webkit-transform: rotate($val)
  -moz-transform: rotate($val)
  -ms-transform: rotate($val)
  -o-transform: rotate($val)
  transform: rotate($val)

=rotateX($val) 
  -webkit-transform: rotateX($val)
  -moz-transform: rotateX($val)
  -ms-transform: rotateX($val)
  -o-transform: rotateX($val)
  transform: rotateX($val)

=rotateY($val) 
  -webkit-transform: rotateY($val)
  -moz-transform: rotateY($val)
  -ms-transform: rotateY($val)
  -o-transform: rotateY($val)
  transform: rotateY($val)

=unselectable()
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none

=x-appearance ($value) 
  -webkit-appearance: $value
  -moz-appearance: $value
  appearance: $value

=translateY ($value) 
  -webkit-transform: translateY($value) 
  -ms-transform: translateY($value) 
  transform: translateY($value) 

=column-count ($value) 
  -webkit-column-count: ($value)
  -moz-column-count: ($value)
  column-count: ($value)

=column-gap ($value) 
  -webkit-column-gap: ($value)
  -moz-column-gap: ($value)
  column-gap: ($value)

=animation-duration ($value) 
  -webkit-animation-duration: ($value)
  animation-duration: ($value)

=animation-timing-function($name...) 
  -webkit-animation-timing-function: $name
  animation-timing-function: $name
  




 
