=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius   
  -ms-border-radius:     $radius
  border-radius:         $radius 
  
=transition($args...) 
  -webkit-transition: $args
  -moz-transition: $args 
  -ms-transition: $args
  -o-transition: $args
  transition: $args

=box-sizing($box-model) 
  -webkit-box-sizing: $box-model // Safari <= 5
  -moz-box-sizing: $box-model // Firefox <= 19
  box-sizing: $box-model

=linear-gradient($direction, $color-stops...) 
  background: nth(nth($color-stops, 1), 1)
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops)
  background: linear-gradient($direction, $color-stops)

=rotate($val) 
  -webkit-transform: rotate($val)
  -moz-transform: rotate($val)
  -ms-transform: rotate($val)
  -o-transform: rotate($val)
  transform: rotate($val)

=unselectable()
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none

=x-appearance ($value) 
  -webkit-appearance: $value
  -moz-appearance: $value
  appearance: $value

=translateY ($value) 
  -webkit-transform: translateY($value) 
  -ms-transform: translateY($value) 
  transform: translateY($value) 

=column-count ($value) 
  -webkit-column-count: ($value)
  -moz-column-count: ($value)
  column-count: ($value)

.header_menu_button
  display: block
  position: absolute
  z-index: 50
  color: #666666
  cursor: pointer
  display: inline-block
  font-size: 14px
  padding: 4px 12px 4px 12px
  transition: all .15s ease
  position: relative
  font-family: SegoeWPSemilight
  background-color: #fff
  border: 1px solid #d8ddde
  border-radius: 3px
  margin: 11px 17px 0 0
  text-decoration: none

.active-menu .header_menu_button
  +linear-gradient(90deg, #9d79e2, #6fecbb)

#header_menu
  button
    display: none
    position: fixed
    left: 0
    width: 100%
    height: 100%
    top: 0
    z-index: 10

.header_menu_wrapper
  position: absolute
  width: 260px
  top: 0
  padding: 77px 0 0 
  background-color: #f8f9fb
  height: 100%
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.3)


.header_menu_link 
  display: block
  width: 42px
  height: 40px
  background: url('/_pic/style/itm-sprite.png') -272px 0 no-repeat red

.header_menu-wrap 
  display: none

.header_menu, .header_menu_wrapper p
  position: absolute
  margin: 0
  list-style-type: none
  text-align: left
  padding: 0
  right: 0
  width: 260px
  left: initial
  right: 0

.header_menu:nth-child(2)
  top: 312px

.header_menu_wrapper p
  top: 574px
  padding-right: 60px
  width: 200px
  font-size: 13px
  line-height: 1.65

.header_menu_li
  border-bottom: 1px solid #e0e0e2
  font-size: 19px
  color: #020202
  padding: 13px 0
  line-height: 1
  letter-spacing: 0.03em

.header_menu_li_a
  text-decoration: none
  color: #020202
  > span
    position: relative
    color: #a876f3
    font-size: 12px
    top: -5px
    margin-left: 5px

.breadcrambs, .portfolio_menu
  list-style-type: none
  padding: 0

.breadcrambs_li, .portfolio_menu-li
  display: inline-block
  text-transform: uppercase
  font-family: Trebuchet MS



.breadcrambs
  position: absolute
  top: -22px
  margin: 0
  color: #fff
  font-size: 8px
  left: 9px
  letter-spacing: 0.05em

.breadcrambs_li
  margin: 0 5px

.breadcrambs_link
  color: #fff

.portfolio_menu
  text-align: center
  font-size: 12px
  letter-spacing: 0.01em
  margin: 12px 0 9px

.portfolio_menu-li
  font-weight: bold
  color: #9555ec
  &:last-of-type
    margin-left: 10px

.portfolio_menu-link
  color: #333333
  text-decoration: none
  border-bottom: 1px dashed #333333
  font-size: 10px
  top: -2px
  position: relative
  transition: border-bottom-color 0.5s ease-in
  &:hover
    border-bottom-color: #F5F5F5

