@import "mixin"
@import "font"
@import "icons"
@import "header"
@import "forms"
@import "swiper-slide"
@import "about"

body
  min-width: 320px
  overflow-x: hidden

.rel
  position: relative

.fl_l
  float: left

.fl_r
  float: right

.clearfix
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
    zoom: 1

body
  color: #666
  font: 14px/1.5 'HelveticaLight', Aria, Helvetica, sans-serif
  position: relative








.page-buffer
  height: 50px



.main
  width: 100%
  +box-sizing(border-box)
  margin: 0 auto
  padding: 79px 20% 0px
  @media screen and (max-width: 1920px)
    padding: 79px 15% 0
  @media screen and (max-width: 1680px)
    padding: 79px 10% 0
  @media screen and (max-width: 1280px)
    padding: 79px 60px 0
  @media screen and (max-width: 1024px)
    padding: 79px 40px 0
  @media screen and (max-width: 768px)
    padding: 75px 20px 0
  &.top_row
    padding-bottom: 0
  &.bottom_row
    padding-top: 0
    padding-bottom: 0

.mobile_only
  display: none
  @media screen and (max-width: 768px)
    display: block

.white_container
  background: #f5f5f5
  +box-sizing(border-box)
  padding: 0 20px

.two_col
  display: table
  width: 100%
  +box-sizing(border-box)
  .col
    +box-sizing(border-box)
    display: table-cell
    width: 50%

.col2
  +column-count(2)
  +column-gap(0px)

.col3
  +column-count(3)
  +column-gap(0px)

.center
  text-align: center

.section_title
  background: #F5F5F5
  +box-sizing(border-box)
  color: #000
  font: 45px/69px "PantonLight"
  margin: 0
  text-transform: uppercase
  padding-left: 15px
  letter-spacing: 0.005em
  position: relative
  z-index: 3
  height: 69px
  @media screen and (max-width: 768px)
    height: 62px
    font: 40px/62px "PantonLight"
  &.center
    padding: 0
    border-bottom: 1px solid #decef3
    @media screen and (max-width: 768px)
      height: 62px
      font: 16px/62px "PantonLight"

.second_title
  font: 25px/30px "PantonRegular"
  margin: 0
  text-transform: uppercase
  color: #666666
  margin: 0 auto 20px
  max-width: 700px
  text-align: center

.relay
  border-bottom: 1px solid #decef3
  background: #f5f5f5
  +box-sizing(border-box)
  height: 40px
  &.border
    border-top: 1px solid #decef3
    border-bottom: 1px solid #decef3
  i
    display: inline-block
    width: 35px
    height: 40px
    font-size: 15px
    line-height: 36px
    color: #000
    text-align: center
    vertical-align: middle
  a
    color: #b2b2b2
    text-decoration: none
    text-transform: uppercase
    font: 9px/40px Trebuchet MS
    display: inline-block
    height: 40px
    +transition(opacity ease-out 0.2s)
    &:hover
      opacity: 0.8

.breadcrambs
  list-style-type: none
  padding: 0
  margin: 0 0 15px 15px
  color: #fff
  font-size: 8px
  letter-spacing: 0.05em
  position: relative
  z-index: 3
  li
    margin: 0 10px 0 0
    display: inline-block
    text-transform: uppercase
    font-family: Trebuchet MS
    a
      color: #fff

.main_block_brick
  a
    width: 50%
    height: 340px
    float: left
    box-sizing: border-box
    border-bottom: 1px solid #F5F5F5
    display: block
    text-decoration: none
    position: relative
    z-index: 2
    padding: 15px 20px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    color: #f5f5f5
    font: 14px/1.25 "SegoeWPSemilight"
    text-transform: uppercase
    cursor: default
    &:nth-child(odd)
      border-left: 1px solid #f5f5f5
    &:nth-child(5)
      border-left: none
      border-right: 1px solid #f5f5f5
    @media screen and (max-width: 768px)
      width: 100%
      float: none
      font: 12px/1.25 "SegoeWPSemilight"
      &:nth-child(odd)
        border-left: none
        border-right: none
    &.first
      &:before
        content: ""
        background: url(../images/tmp/directions-1-1.jpg) no-repeat 0 0
        width: 100%
        height: 100%
        position: absolute
        z-index: 1
        background-size: cover
        top: 0
        left: 0
      .disk
        position: absolute
        width: 100%
        height: 386px
        background: url(../images/disk.png) no-repeat 50% 0
        left: 0
        z-index: 1
        top: -121px
        +animation-duration(3s)

        &:before
          display: block
          position: absolute
          width: 100%
          height: 340px
          content: ''
          left: 0
          top: 120px
          z-index: 2
          background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%)

        @media screen and (max-width: 768px)
          top: -110px
          animation: inherit
    &.big
      width: 100%
      border-left: none
      .title
        height: auto
        width: 70%
    &:after
      display: block
      position: absolute
      width: 100%
      height: 340px
      content: ''
      left: 0
      top: 0
      +transition(background 0.8s ease-in)
      z-index: 2
    &:before
      display: block
      position: absolute
      width: 100%
      height: 340px
      content: ''
      left: 0
      top: -1px
      z-index: 2
      background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%)

    &:hover
      text-decoration: none
      &:after
        background: rgba(0, 0, 0, 0.3)
    .title
      position: absolute
      z-index: 3
      bottom: 25px
      padding-right: 5%
      @media screen and (max-width: 768px)
        padding-right: 0
        height: auto
        width: 70%
      span
        font: 47px/47px "PantonLight"
        text-transform: uppercase
        color: #fff
        margin: 0 0 5px
        letter-spacing: -0.03em
        display: block
        position: relative
        z-index: 2
        @media screen and (max-width: 768px)
          font: 40px/40px "PantonLight"

.googlemap
  overflow: hidden
  height: 380px
  background: #f5f5f5
  #gmap_canvas
    height: 380px
    .gmnoprint, .gm-style-cc
      display: none

.feedback
  padding: 40px
  @media screen and (max-width: 768px)
    padding: 40px 20px 0
  background: #f5f5f5
  .col
    padding-left: 40px
    @media screen and (max-width: 768px)
      display: block
      width: 100%
      border-right: none !important
      padding-left: 0
      margin-bottom: 40px
  .contacts
    font: 16px/16px "SegoeWPSemilight"
    color: #000
    border-right: 1px solid #dddddd
    padding-left: 0
    span
      display: block
      color: #666666
      margin-bottom: 3px
    a
      text-decoration: none
      color: #000
    .phone
      font: 36px/36px "PantonLight"
      color: #000
      @media screen and (max-width: 1024px)
        font: 20px/28px "PantonLight"
      &:before
        content: ''
        display: inline-block
        background-image: url(../images/ww-icon-sprite.png)
        background-repeat: no-repeat
        background-position: 0 -199px
        width: 52px
        height: 54px
        vertical-align: top
        margin: -10px 15px 0 0
        position: relative

#contact
  h3
    font: 36px/36px "PantonLight"
    text-transform: uppercase
    margin-bottom: 25px
    color: #666666
    @media screen and (max-width: 1024px)
      font: 28px/28px "PantonLight"

  fieldset
    border: medium none !important
    margin: 0 0 10px
    min-width: 100%
    padding: 0
    width: 100%
  input, textarea, button
    font: 12px/12px "SegoeWPSemilight"
    border: none
    +box-sizing(border-box)
    padding: 0 10px
    &::-webkit-input-placeholder
      color: #666666
    &::-moz-placeholder
      color: #666666
    &:-ms-input-placeholder
      color: #666666
    &:-moz-placeholder
      color: #666666

  input
    &[type="text"], &[type="email"], &[type="tel"]
      height: 30px
      width: 100%
      background: #e1e1e1
      margin: 0 0 15px
      +border-radius(30px)
  textarea
    width: 100%
    background: #e1e1e1
    margin: 0 0 15px
    padding: 10px
    +border-radius(15px)

  input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, textarea:hover
    +transition(all 0.3s ease-in-out)
    background: #717171
    &::-webkit-input-placeholder
      color: #fff
    &::-moz-placeholder
      color: #fff
    &:-ms-input-placeholder
      color: #fff
    &:-moz-placeholder
      color: #fff
  textarea
    height: 100px
    max-width: 100%
    resize: none
  button[type="submit"]
    cursor: pointer
    width: 135px
    +border-radius(30px)
    height: 30px
    background: #383838
    color: #FFF
    @media screen and (max-width: 768px)
      margin: 0 auto
      display: block
      width: 100%
    &:hover
      background: #c1c1c1
      +transition(all 0.3s ease-in-out)
      color: #000
  input:focus, textarea:focus
    outline: 0
    background: #c1c1c1

.project_head
  text-align: center
  padding: 45px 20px
  +box-sizing(border-box)
  h1
    font: 45px/45px "PantonBold"
    text-transform: uppercase
    margin-bottom: 20px
  .date
    display: block
    font: 14px/14px "PantonRegular"
    color: #000
    margin-bottom: 20px

.project_menu
  list-style-type: none
  margin: 0
  li
    display: inline-block
    margin-top: 5px
    a
      text-decoration: none
      color: #666666
      font: 14px/30px "PantonRegular"
      padding: 0 20px
      +box-sizing(border-box)
      display: inline-block
      height: 30px
      border: 1px solid #decef3
      +border-radius(30px)
      +transition(all ease-out 0.2s)
      &:hover
        background: #555555
        color: #fff
        border: 1px solid #555555

.project_item_list
  background: #f5f5f5
  padding-top: 40px
  ul
    margin: 0
    list-style-type: none
    font: 14px/16px 'HelveticaLight', Aria, Helvetica, sans-serif
    color: #666666
    li
      padding: 30px
      +box-sizing(border-box)
      background: #fff
      height: 190px
      position: relative
      float: left
      @media screen and (max-width: 1024px)
        padding: 20px
      @media screen and (max-width: 768px)
        width: 100% !important
        float: none
    .top
      position: absolute
      top: -17px
      left: -17px
      display: block
      background: url(../images/top.png) no-repeat 0 0
      width: 65px
      height: 66px
    .number
      display: block
      color: #9555ec
      font: 35px/35px "PantonLight"
      margin-bottom: 10px
    p
      margin: 0
      max-width: 450px
    strong
      font-weight: bold
      color: #000
      display: block
      margin-bottom: 7px
    &.col-2
      li
        width: 50%
        &:first-child
          background: #ebebeb
        &:last-child
          background: #d8d8d8
    &.col-3
      li
        width: 33%
        &:nth-child(2)
          width: 34%
          background: #e1e1e1

.project_details
  background: #f5f5f5 url(../images/color_bg.png) no-repeat 0 100%
  background-size: 100%
  padding-bottom: 40px
  .text
    padding: 70px 20px 20px
    max-width: 800px
    margin: 0 auto
    ul
      font: 16px/18px PantonLight
      padding: 0 0 0 30px
      margin: 1em 0
      @media screen and (max-width: 768px)
        font: 14px/16px "PantonLight"
    @media screen and (max-width: 768px)
      padding: 50px 20px 20px
    .title
      font: 45px/45px "PantonLight"
      color: #666666
      text-transform: uppercase
      text-align: center
      margin-bottom: 25px
      @media screen and (max-width: 768px)
        font: 28px/28px "PantonLight"
    p
      font: 16px/18px "PantonLight"
      color: #666666
      @media screen and (max-width: 768px)
        font: 14px/16px "PantonLight"
  .gallery
    margin: 0 -90px
    @media screen and (max-width: 1024px)
      margin: 0 -60px
    @media screen and (max-width: 768px)
      margin: 0
    ul
      list-style-type: none
      margin: 0 auto
      @media screen and (max-width: 768px)
        height: auto !important
        width: 100% !important
      li
        // width: 235px
        width: 20%
        padding: 25px
        +box-sizing(border-box)
        +transform(perspective(1px) translateZ(0))
        +transition(transform ease-out 0.3s)
        &:hover
          +translateY(-20px)
        @media screen and (max-width: 768px)
          padding: 0 0 30px
          width: 100%
          position: static !important
          margin: 0 auto
          &:hover
            +transform(none)
        img
          // width: 235px
          width: 100%
          max-width: 100%
          display: block
          margin: 0 auto
          box-shadow: 0px 2px 18px -2px rgba(0, 0, 0, 0.5)

.project_links
  background: #f5f5f5
  text-align: center
  padding: 40px 0
  a
    text-decoration: none
    color: #9555ec
    font: 16px/28px 'HelveticaLight', Aria, Helvetica, sans-serif
    display: inline-block
    padding: 0 20px 0 16px
    height: 28px
    vertical-align: middle
    position: relative
    +transition(opacity ease-out 0.2s)
    border-left: 1px solid #b7b7b7
    &:hover
      opacity: 0.8
    &:before
      content: ''
      display: inline-block
      margin-right: 10px
      vertical-align: middle
    &:first-child
      border-left: none
    &.site
      &:before
        width: 18px
        height: 18px
        background: url(../images/site_ico.png) no-repeat 0 0
    &.mobile
      &:before
        width: 11px
        height: 20px
        background: url(../images/mobile_ico.png) no-repeat 0 0

.interest_header
  background: #f5f5f5
  padding: 55px 0 30px

.interest
  @media screen and (max-width: 768px)
    +column-count(1)
  .item
    height: 340px
    color: #fff
    cursor: pointer
    +box-sizing(border-box)
    position: relative
    z-index: 2
    padding: 20px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    font: 14px/1.25 "SegoeWPSemilight"
    @media screen and (max-width: 768px)
      height: 250px
      background-position: 0 50%
    &:after
      display: block
      position: absolute
      width: 100%
      height: 100%
      content: ''
      left: 0
      top: 0
      +transition(background 0.8s ease-in)
      z-index: 2
    &:hover
      text-decoration: none
      &:after
        background: rgba(0, 0, 0, 0.3)
    .title
      text-decoration: none
      display: block
      font: 47px/47px "PantonLight"
      text-transform: uppercase
      color: #fff
      margin: 0 0 5px
      letter-spacing: -0.03em
      display: block
      position: relative
      z-index: 2
      @media screen and (max-width: 1280px)
        font: 40px/40px "PantonLight"
      @media screen and (max-width: 1024px)
        font: 30px/30px "PantonLight"
    .title-link
      position: absolute
      z-index: 9
      width: 100%
      height: 100%
      left: 0
      right: 0
      top: 0
      bottom: 0
    .bottom
      position: absolute
      z-index: 2
      bottom: 20px
      left: 0
      padding: 0 20px
      ul
        list-style: none
        margin: 20px 0 5px
        li
          display: inline-block
          padding: 0 10px
          border: 1px solid #fff
          position: relative
          line-height: 26px
          border-radius: 13px
          letter-spacing: -0.01em
          margin: 0 3px 7px 0
          @media screen and (max-width: 768px)
            background: rgba(0, 0, 0, 0.5)

      .small
        font: 9px/9px Trebuchet MS
      p
        margin: 0
        max-width: 400px
        @media screen and (max-width: 768px)
          max-height: 34px
          overflow: hidden
  &.portfolio
    margin: 0 -20px
    .item
      width: 50%
      float: left
      border-bottom: 1px solid #f5f5f5
      border-left: 1px solid #f5f5f5
      &:nth-child(odd)
        border-left: none
      @media screen and (max-width: 768px)
        width: 100%
        border-left: none
        float: none
        height: 300px
      &:after
        display: none
      .link
        display: block
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        +transition(background 0.8s ease-in)
        z-index: 2
      &:hover
        .link
          background: rgba(0, 0, 0, 0.3)
        .bottom
          ul
            li
              background: rgba(0, 0, 0, 0.5)
              +transition(background ease-in 0.8s)

.bottom_block
  background: #f5f5f5
  height: 50px

.portfolio_nav
  display: table
  margin: 0 auto
  padding: 15px 0
  @media screen and (max-width: 768px)
    margin: 0
    padding: 15px 0 10px
  a
    display: inline-block
    text-decoration: none
    color: #333333
    font: 11px/11px Trebuchet MS
    text-transform: uppercase
    border-bottom: 1px dashed #333333
    margin: 0 15px
    +transition(opacity ease-out 0.2s)
    @media screen and (max-width: 768px)
      margin: 0 30px 5px 0
      display: block
    &:hover
      opacity: 0.8
    &.active
      color: #9555ec
      font: bold 11px/11px Trebuchet MS
      border-bottom: none

.flip_list
  .row
    +transform(perspective(300px) translateZ(0) rotateX(90deg))
    opacity: 0.5
    +animation-duration(0.5s)
    +animation-timing-function(ease-in-out)
    &.animated
      opacity: 1
    @media screen and (max-width: 768px)
      +transform(none)
      opacity: 1

.portfolio_list
  margin-left: -2%
  @media screen and (max-width: 768px)
    margin-left: 0

  .item
    display: inline-block
    float: left
    color: #fff
    padding: 20px
    +box-sizing(border-box)
    width: 23%
    height: 400px
    margin: 0 0 2% 2%
    position: relative
    background: #99083f
    +transition(background 0.8s ease-in)
    &:hover
      background: #6b062c

    @media screen and (max-width: 1680px)
      height: 380px
    @media screen and (max-width: 1280px)
      height: 365px
    @media screen and (max-width: 1024px)
      height: 325px
    @media screen and (max-width: 768px)
      width: 100%
      margin: 0 0 20px
      height: auto
    .link
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      z-index: 1
    .title
      font: 29px/29px "PantonLight"
      text-transform: uppercase
      margin-bottom: 10px
      @media screen and (max-width: 1680px)
        font: 26px/26px "PantonLight"
      @media screen and (max-width: 1024px)
        font: 22px/22px "PantonLight"
    p
      font: 12px/16px Trebuchet MS
      margin: 0 0 10px
      max-height: 65px
      overflow: hidden
      @media screen and (max-width: 768px)
        max-height: auto
    span
      font: 10px/10px Trebuchet MS
      opacity: 0.5
      display: block
      margin-bottom: 20px
    .picture
      display: block
      width: 100%
      position: absolute
      bottom: 20px
      left: 0
      padding: 0 20px
      +box-sizing(border-box)
      @media screen and (max-width: 768px)
        position: static
        padding: 0
      img
        display: block
        width: 100%

.footer
  padding-bottom: 25px


@media screen and (max-width: 1680px)
  body.item1,
  body.item2,
  body.item3,
  body.item4
    .main_swiper
      .swiper-button-next-backgraund
        right: 110px
        top: 160px
        .swiper-button-white
          right: 0
@media screen and (max-width: 1200px)
  body.item1,
  body.item2,
  body.item3,
  body.item4
    .main_swiper
      .swiper-button-next-backgraund
        right: 90px
        top: 160px
      .swiper-container.gallery-top
        .swiper-slide
          .description
            padding-left: 0

@media screen and (max-width: 1024px)
  body.item1,
  body.item2,
  body.item3,
  body.item4
    .main_swiper
      .swiper-button-next-backgraund
        right: 100px
        top: 100px
      .swiper-container.gallery-top
        .swiper-slide
          .description
            padding-left: 40px
        .swiper-button-white
          width: 54px
          height: 54px
          top: 0

@media screen and (max-width: 900px)
  body.item1,
  body.item2,
  body.item3,
  body.item4
    .main_swiper
      .swiper-button-next-backgraund
        display: none

@media screen and (max-width: 768px)
  body.item1,
  body.item2,
  body.item3,
  body.item4
    .main_swiper
      .swiper-container.gallery-top
        .swiper-slide
          .description
            padding-left: 0










