@import "mixin"    

.animated 
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both


@-webkit-keyframes slideInRight 
  0% 
    opacity: 0
    -webkit-transform: translateX(2000px)
    transform: translateX(2000px)
  100% 
    -webkit-transform: translateX(0)
    transform: translateX(0)
@keyframes slideInRight 
  0% 
    opacity: 0
    -webkit-transform: translateX(2000px)
    -ms-transform: translateX(2000px)
    transform: translateX(2000px)
  100% 
    -webkit-transform: translateX(0)
    -ms-transform: translateX(0)
    transform: translateX(0)

.slideInRight 
  -webkit-animation-name: slideInRight
  animation-name: slideInRight

.swiper-container
  &.gallery-thumbs
    overflow: visible
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0 


.main_swiper
  .swiper-pagination 
    position: absolute
    top: 25px
    left: 83px
    text-align: left
    width: auto
    height: 20px
    @media screen and (max-width: 1680px)
      left: 63px
    @media screen and ( max-width: 768px )
      left: 20px
    .swiper-pagination-bullet 
      background-color: #666
      width: 4px
      height: 4px
      margin: 0 18px 0 0
  .swiper-container.gallery-top
    height: 100%
    background: #f5f5f5
    &:before
      content: ''
      display: block
      position: absolute
      width: 200px
      height: 70px
      top: 40px
      right: 0
      z-index: 10
      +linear-gradient(90deg, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1))
      @media screen and ( max-width: 1024px )   
        display: none
    .swiper-button-white
      background-image: url(../images/main-rarr.png) !important
      width: 54px
      height: 54px
      position: absolute
      right: 130px
      top: 179px
      z-index: 100
      background-size: 100%
      @media screen and ( max-width: 1680px )
        right: 104px
      @media screen and ( max-width: 1024px )      
        top: 42px
        right: 85px
        margin: 0
        width: 27px
        height: 27px
        background-size: initial
      @media screen and ( max-width: 768px )
        right: 10px
        top: 30px
      &.swiper-button-prev
        +rotate(180deg)
        right: auto
        left: 60px
        @media screen and ( max-width: 1680px )
          left: 40px
        @media screen and ( max-width: 1024px ) 
          left: auto
          right: 120px
        @media screen and ( max-width: 768px )
          right: 50px
    .swiper-slide
      font-size: 18px
      color: #666
      +box-sizing(border-box)
      padding: 50px 60px 30px
      @media screen and ( max-width: 1680px )
        padding: 50px 40px 30px
      @media screen and ( max-width: 1024px )    
        padding: 40px 40px 10px
      @media screen and ( max-width: 768px )
        padding: 55px 20px 0px
      &.swiper-slide-active
        .title
          margin-left: 0  
          color: #813fdf  
          font: 45px 'PantonLight', Aria, Helvetica, sans-serif
          @media screen and ( max-width: 1280px )
            font-size: 35px 
          @media screen and ( max-width: 1024px )
            font-size: 25px
            margin-left: 0

        .case_list
          li
            @extend .animated 
            @extend .slideInRight
            &:nth-child(2)
              +animation-duration(2s)
            &:nth-child(3)
              +animation-duration(3.5s)
            &:nth-child(4) 
              +animation-duration(3s)
            &:nth-child(5)
              +animation-duration(4s)
            &:nth-child(6)
              +animation-duration(4.5s)
            @media screen and ( max-width: 768px )
              +transform(none)
              animation: inherit


    
      h3.title
        text-transform: uppercase
        position: relative
        z-index: 1
        overflow: hidden
        letter-spacing: 0.013em
        font: 45px 'PantonExtraLight', Aria, Helvetica, sans-serif
        margin-left: -55%
        color: #999999
        padding-left: 20px
        @media screen and ( max-width: 1280px )
          font-size: 35px 
        @media screen and ( max-width: 1024px )
          display: none
      .title_mobile
        display: none
        text-transform: uppercase
        letter-spacing: 0.013em
        color: #813fdf  
        font: 30px 'PantonLight', Aria, Helvetica, sans-serif
        @media screen and ( max-width: 1024px )
          display: block
        @media screen and ( max-width: 768px )
          font: 24px 'PantonLight', Aria, Helvetica, sans-serif
          padding-right: 50px
        span
          position: absolute
          color: #999999
          left: 600px
          font-weight: normal
          width: 100%
          text-align: left
          font: 45px 'PantonExtraLight', Aria, Helvetica, sans-serif
      .airship
        width: 330px
        height: 200px
        margin: -30px 0 0 20px
        display: inline-block
        vertical-align: top
        background-size: contain
        background-repeat: no-repeat
        background-position: 0 50%     
        &.support, &.e_commerce, &.industry_solutions, &.adaptive_mobile, &.competencies
          margin-top: 5px    
        &.business_solutions
          margin-top: 10px
        @media screen and ( max-width: 1024px ) 
          margin: 0px 0 0 0px
          width: 160px
          height: 120px
          background-size: contain
        @media screen and ( max-width: 768px )
          display: none
      .description
        max-width: 400px
        height: 140px 
        font: 16px/1.3 "HelveticaLight", Aria, Helvetica, sans-serif
        padding-left: 40px
        margin: 50px 0 0px
        display: inline-block
        @media screen and ( max-width: 1024px )
          margin: 0px
        @media screen and ( max-width: 768px )
          padding-left: 0
          height: auto
          margin-bottom: 20px 
      .case_list
        margin: 0 -40px 0 40px
        @media screen and ( max-width: 768px )
          margin: 0 -20px
        li
          float: left
          width: 32%
          display: inline-block
          margin-bottom: 40px 




          
          &:first-child 
            margin-left: -40px





          @media screen and ( max-width: 768px )
            width: 100%
            margin-bottom: 20px
            &:first-child 
              margin-left: 0px
          img
            -webkit-transform: perspective(1px) translateZ(0)
            transform: perspective(1px) translateZ(0)
            -webkit-transition-duration: 0.3s
            transition-duration: 0.3s
            -webkit-transition-property: transform
            transition-property: transform
          &:hover
            img
              -webkit-transform: scale(1.2)
              transform: scale(1.2)
              @media screen and ( max-width: 768px )
                transform: none
                -webkit-transform: none
          a
            margin: 0 20px
            text-decoration: none
            cursor: pointer
            position: relative
            display: block
            height: 100%
            overflow: hidden
            img
              width: 100%
              display: block
            .title
              color: #fff
              font: 26px/1.3 'PantonLight', Aria, Helvetica, sans-serif
              text-transform: uppercase
              position: absolute
              bottom: 20px
              // height: 75px
              left: 20px
              // padding-top: 50px
              max-width: 200px
              &.long
                // height: 105px
                @media screen and ( max-width: 1024px )
                  // height: 75px
                @media screen and ( max-width: 768px )
                  // height: 105px
              @media screen and ( max-width: 1024px )
                font: 16px/1.3 'PantonLight', Aria, Helvetica, sans-serif
                // height: 55px
                left: 15px
              @media screen and ( max-width: 768px )
                font: 22px/1.3 'PantonLight', Aria, Helvetica, sans-serif
                // height: 75px
            strong
              margin-top: -50px
              display: block
              font-size: 50px
              font-weight: normal
              line-height: 1
              @media screen and ( max-width: 1024px )
                font-size: 35px
                margin-top: -35px
              @media screen and ( max-width: 768px )
                font-size: 30px
                margin-top: -30px
          .last
            margin: 0 10px
            text-transform: uppercase  
            position: relative
            .title
              position: absolute
              +translateY(-50%)
              top: 50%
              color: #ccc
              font: 12px/12px "PantonBold", Aria, Helvetica, sans-serif
              width: 100%
              text-align: center
            img
              display: block
              width: 100%
              transform: none
              -webkit-transform: none            
              

.project_gallery
  position: relative
  height: 550px
  @media screen and ( max-width: 1024px )
    height: 450px
  @media screen and ( max-width: 768px )
    height: 350px
  .center_container
    background: #f5f5f5
    margin: 0 auto
    height: 550px
    width: 60%
    position: relative
    @media screen and ( max-width: 1920px )
      width: 70%
    @media screen and ( max-width: 1680px )
      width: 80%
    @media screen and ( max-width: 1280px )
      margin: 0 60px
      width: auto
    @media screen and ( max-width: 1024px )
      margin: 0 40px
      height: 450px
    @media screen and ( max-width: 768px )
      margin: 0 20px
      height: 350px
    .background
      background-repeat: no-repeat
      background-position: 50%
      background-size: cover
      width: 100%
      height: 404px
      position: absolute
      left: 0
      top: 65px
      @media screen and ( max-width: 1024px )
        height: 304px
      @media screen and ( max-width: 768px )
        height: 150px
        top: 96px

  .swiper-container
    position: absolute
    left: 0
    top: 0
    width: 100% 
    height: 550px
    padding-bottom: 20px
    -webkit-animation: bounceInDown 2s
    animation: bounceInDown 2s
    @media screen and ( max-width: 1024px )
      height: 450px
    @media screen and ( max-width: 768px )
      height: 350px
      -webkit-animation: none
      animation: none    
  .swiper-slide 
    text-align: center
    position: relative
    img
      display: block
      position: relative
      +translateY(-50%)
      top: 50%
      margin: 0 auto
      max-width: 100%
    &.swiper-slide-active
      width: 100%
      +box-sizing(border-box)
      margin: 0 auto
      padding: 0 20% 
      @media screen and ( max-width: 1920px )
        padding: 0 15% 
      @media screen and ( max-width: 1680px )
        padding: 0 10% 
      @media screen and ( max-width: 1280px )
        padding: 0 60px 
      @media screen and ( max-width: 1024px )
        padding: 0 40px  
        img
          max-height: 90%
      @media screen and ( max-width: 768px )
        padding: 0 
        img
          max-height: 80%
      .hidden_block
        display: block
    &.swiper-slide-prev
      img
        float: right
        margin-right: -100px
        max-height: 60%
        @media screen and ( max-width: 1280px )
          margin-right: -50px
        @media screen and ( max-width: 1024px )
          margin-right: 0
          float: none
          max-height: 80%  
    &.swiper-slide-next
      img
        float: left
        margin-left: -100px
        max-height: 60%
        @media screen and ( max-width: 1280px )
          margin-left: -50px
        @media screen and ( max-width: 1024px )
          margin-left: 0
          float: none
          max-height: 80%   

  .swiper-button-white  
    background: url(../images/button-prev.png) no-repeat 0 0 !important
    width: 28px
    height: 54px
    margin-top: -37px 
    @media screen and ( max-width: 768px )    
      display: none
  .swiper-button-prev
    left: 50%
    margin-left: -418px
    @media screen and ( max-width: 1024px )
      left: 60px
      margin-left: 0
  .swiper-button-next
    right: 50%
    margin-right: -418px
    +rotate(180deg)
    @media screen and ( max-width: 1024px )
      right: 60px
      margin-right: 0
  .swiper-pagination
    bottom: 17px !important
  .swiper-pagination-bullet 
    width: 12px
    height: 12px
    background: #f5f5f5
    +border-radius(100%)
    +box-sizing(border-box)
    opacity: 1
    text-align: center
    border: 1px solid #f5f5f5
    &.swiper-pagination-bullet-active
      border: 1px solid #4b4e54
    &:before
      content: ''
      width: 4px
      height: 4px
      display: block
      margin: 3px    
      background: #4b4e54
      +border-radius(100%)
      +box-sizing(border-box)

