.portfolio_detail{
	max-width: 800px;
    margin: 0 auto;
    margin-top:80px;
    padding:20px;
    margin-bottom: 50px;
}
.portfolio_detail h1{
	font-weight: normal;
	font-size: 24px;
	color: #2f2f35;
	text-transform: uppercase;
}
.portfolio_detail #link_project{
	color:#2f2f35;
	font-size: 18px;
	padding-left: 20px;
	background-image: url('/images/icon_link.png');
	background-repeat: no-repeat;
	background-position-x: 5px;
    background-position-y: 9px;
}
.portfolio_detail #link_project:hover{
	text-decoration: none;
}
.portfolio_detail #portfolio_text{
	color:#2f2f35;
	font-size: 18px;
	padding-top: 20px;
}
.portfolio_detail #detail_image{
	margin-top:60px;
	display: block;
}
.portfolio_detail .detail_snoska{
	list-style: none;
	margin:0;
	padding: 0;
}
.portfolio_detail .detail_snoska li {
	margin:0;
	padding: 0;	
}
.portfolio_detail .detail_snoska li .text{
	padding-right:410px;
	background-image: url('/images/strelka.png');
	background-repeat: no-repeat;
	background-position-x:410px;
}