.swiper-container.gallery-thumbs .item1 {
background: #fd1e38;
background: -webkit-linear-gradient(legacy-direction(90deg), fd1e38, #f47600);
background: linear-gradient(90deg, #fd1e38, #f47600);
}
body.item1 .active-menu .header_menu_button, .main_swiper .swiper-button-next {
background: #fd1e38;
background: -webkit-linear-gradient(legacy-direction(90deg), fd1e38, #f47600);
background: linear-gradient(90deg, #fd1e38, #f47600);
}
body.item1 .header_menu_overflow ul li a span {
color: #fd1e38;
}
body.item1 .header_text {
color: #fd1e38;
}
body.item1 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item1 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile  {
color: #fd1e38;
}
body.item1 .main_swiper .swiper-button-next-backgraund {
background: #fd1e38;
background: -webkit-linear-gradient(legacy-direction(90deg), fd1e38, #f47600);
background: linear-gradient(90deg, #fd1e38, #f47600);
width: 54px; height: 54px; position: absolute; right: 130px; top: 179px;z-index: 90;
}
.swiper-container.gallery-thumbs .item2 {
background: #f47600;
background: -webkit-linear-gradient(legacy-direction(90deg), f47600, #003771);
background: linear-gradient(90deg, #f47600, #003771);
}
body.item2 .active-menu .header_menu_button, .main_swiper .swiper-button-next {
background: #f47600;
background: -webkit-linear-gradient(legacy-direction(90deg), f47600, #003771);
background: linear-gradient(90deg, #f47600, #003771);
}
body.item2 .header_menu_overflow ul li a span {
color: #f47600;
}
body.item2 .header_text {
color: #f47600;
}
body.item2 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item2 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile  {
color: #f47600;
}
body.item2 .main_swiper .swiper-button-next-backgraund {
background: #f47600;
background: -webkit-linear-gradient(legacy-direction(90deg), f47600, #003771);
background: linear-gradient(90deg, #f47600, #003771);
width: 54px; height: 54px; position: absolute; right: 130px; top: 179px;z-index: 90;
}
.swiper-container.gallery-thumbs .item3 {
background: #003771;
background: -webkit-linear-gradient(legacy-direction(90deg), 003771, #9d79e2);
background: linear-gradient(90deg, #003771, #9d79e2);
}
body.item3 .active-menu .header_menu_button, .main_swiper .swiper-button-next {
background: #003771;
background: -webkit-linear-gradient(legacy-direction(90deg), 003771, #9d79e2);
background: linear-gradient(90deg, #003771, #9d79e2);
}
body.item3 .header_menu_overflow ul li a span {
color: #003771;
}
body.item3 .header_text {
color: #003771;
}
body.item3 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item3 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile  {
color: #003771;
}
body.item3 .main_swiper .swiper-button-next-backgraund {
background: #003771;
background: -webkit-linear-gradient(legacy-direction(90deg), 003771, #9d79e2);
background: linear-gradient(90deg, #003771, #9d79e2);
width: 54px; height: 54px; position: absolute; right: 130px; top: 179px;z-index: 90;
}
.swiper-container.gallery-thumbs .item4 {
background: #9d79e2;
background: -webkit-linear-gradient(legacy-direction(90deg), 9d79e2, #fd1e38);
background: linear-gradient(90deg, #9d79e2, #fd1e38);
}
body.item4 .active-menu .header_menu_button, .main_swiper .swiper-button-next {
background: #9d79e2;
background: -webkit-linear-gradient(legacy-direction(90deg), 9d79e2, #fd1e38);
background: linear-gradient(90deg, #9d79e2, #fd1e38);
}
body.item4 .header_menu_overflow ul li a span {
color: #9d79e2;
}
body.item4 .header_text {
color: #9d79e2;
}
body.item4 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item4 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile  {
color: #9d79e2;
}
body.item4 .main_swiper .swiper-button-next-backgraund {
background: #9d79e2;
background: -webkit-linear-gradient(legacy-direction(90deg), 9d79e2, #fd1e38);
background: linear-gradient(90deg, #9d79e2, #fd1e38);
width: 54px; height: 54px; position: absolute; right: 130px; top: 179px;z-index: 90;
}
body .main_swiper .swiper-container.gallery-top .swiper-button-white{right: 0;top: 22px;}