html, body { 
  padding: 0; 
  margin: 0; 
  height: 100%;
} 
body {
	font-size: 100%;
	line-height: 1;
}
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hgroup,blockquote,figure,form,fieldset,input,legend,pre,abbr {
	margin:0;
	padding:0
}
fieldset, iframe, img { border: none; }
a img, :link img, :visited img { border: 0; } 
img { border: none; }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	outline: none;
}
i {
	font-style: normal; 
}
