@charset "UTF-8";
@font-face {
  font-family: "webway";
  src: url("../fonts/webway/webway.eot");
  src: url("../fonts/webway/webway.eot#iefix") format("embedded-opentype"), url("../fonts/webway/webway.woff2") format("woff2"), url("../fonts/webway/webway.woff") format("woff"), url("../fonts/webway/webway.ttf") format("truetype"), url("../fonts/webway/webway.svg#webway") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/helv-4-light.eot");
  src: url("../fonts/HelveticaLight/helv-4-light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/helv-4-light.ttf") format("truetype"), url("../fonts/HelveticaLight/helv-4-light.woff") format("woff"), url("../fonts/HelveticaLight/helv-4-light.woff2") format("woff2"), url("../fonts/HelveticaLight/helv-4-light.svg#HelveticaLight") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SegoeWPSemilight";
  src: url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.eot");
  src: url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.ttf") format("truetype"), url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.woff") format("woff"), url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.woff2") format("woff2"), url("../fonts/SegoeWPSemilight/SegoeWP-SemiLight.svg#SegoeWPSemilight") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.svg#SegoeUIRegular") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PantonRegular";
  src: url("../fonts/PantonRegular/panton-webfont.eot");
  src: url("../fonts/PantonRegular/panton-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PantonRegular/panton-webfont.ttf") format("truetype"), url("../fonts/PantonRegular/panton-webfont.woff") format("woff"), url("../fonts/PantonRegular/panton-webfont.woff2") format("woff2"), url("../fonts/PantonRegular/panton-webfont.svg#PantonRegular") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PantonLight";
  src: url("../fonts/PantonLight/panton_light-webfont.eot");
  src: url("../fonts/PantonLight/panton_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PantonLight/panton_light-webfont.ttf") format("truetype"), url("../fonts/PantonLight/panton_light-webfont.woff") format("woff"), url("../fonts/PantonLight/panton_light-webfont.woff2") format("woff2"), url("../fonts/PantonLight/panton_light-webfont.svg#PantonLight") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PantonExtraLight";
  src: url("../fonts/PantonExtraLight/panton_extralight-webfont.eot");
  src: url("../fonts/PantonExtraLight/panton_extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PantonExtraLight/panton_extralight-webfont.ttf") format("truetype"), url("../fonts/PantonExtraLight/panton_extralight-webfont.woff") format("woff"), url("../fonts/PantonExtraLight/panton_extralight-webfont.woff2") format("woff2"), url("../fonts/PantonExtraLight/panton_extralight-webfont.svg#PantonExtraLight") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PantonBold";
  src: url("../fonts/PantonBold/Panton-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PantonBold/Panton-Bold.otf") format("opentype"), url("../fonts/PantonBold/Panton-Bold.woff") format("woff"), url("../fonts/PantonBold/Panton-Bold.ttf") format("truetype"), url("../fonts/PantonBold/Panton-Bold.svg#Panton-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before, [class^="ui-icon-"]:before, [class*=" ui-icon-"]:before {
  font-family: "webway";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-news:before {
  content: ""; }

.icon-reviews:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-search-2:before {
  content: ""; }

.icon-location:before {
  content: ""; }

.icon-location-2:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-angle-right:before {
  content: ""; }

.icon-angle-left:before {
  content: ""; }

.icon-facebook-squared:before {
  content: ""; }

.icon-down:before {
  content: ""; }

.icon-up:before {
  content: ""; }

.icon-cancel:before {
  content: ""; }

.active-menu .header_menu_button .icon-menu {
  color: #fff; }

.header .icon-facebook-squared {
  color: #475154;
  font-size: 25px;
  line-height: 2.1; }
.header .icon-location {
  color: #475154;
  margin-left: 22px;
  font-size: 22px;
  line-height: 2.4; }
.header .icon-location-2 {
  position: absolute;
  top: -52px;
  left: 5px;
  color: #a876f3;
  font-size: 32px; }
.header .icon-search {
  color: #fff; }
  .header .icon-search:after {
    content: ""; }

.main_block-item-icon.icon-news {
  font-size: 48px;
  top: -6px;
  left: 4px; }
.main_block-item-icon.icon-reviews {
  font-size: 48px;
  top: -5px;
  left: -5px; }

.portfolio_search.icon-search-2:before {
  top: 8px;
  position: absolute;
  font-size: 24px;
  left: 15px; }

.ui-icon-triangle-1-s:before {
  content: "";
  left: 4px;
  position: absolute;
  top: 2px;
  font-size: 15px; }

.ui-state-active .ui-icon-triangle-1-s:before {
  content: ""; }

.tag-list_li-remove .icon-cancel:before {
  font-size: 18px; }

.header-wrap {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  height: 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20%; }
  @media screen and (max-width: 1920px) {
    .header-wrap {
      padding: 0 15%; } }
  @media screen and (max-width: 1680px) {
    .header-wrap {
      padding: 0 10%; } }
  @media screen and (max-width: 1280px) {
    .header-wrap {
      padding: 0 60px; } }
  @media screen and (max-width: 1024px) {
    .header-wrap {
      padding: 0 40px; } }
  @media screen and (max-width: 768px) {
    .header-wrap {
      padding: 0 20px; } }
  .header-wrap .header_menu_button {
    display: block;
    position: absolute;
    z-index: 50;
    color: #475154;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 29px;
    height: 31px;
    padding: 0 12px;
    transition: all 0.15s ease;
    position: relative;
    font-family: SegoeWPSemilight;
    background-color: #fff;
    border: 1px solid #d8ddde;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin: 11px 17px 0 0;
    text-decoration: none;
    -webkit-transition: opacity ease-out 0.2s;
    -moz-transition: opacity ease-out 0.2s;
    -ms-transition: opacity ease-out 0.2s;
    -o-transition: opacity ease-out 0.2s;
    transition: opacity ease-out 0.2s; }
    @media screen and (max-width: 768px) {
      .header-wrap .header_menu_button {
        margin: 11px 17px 11px 0; } }
    .header-wrap .header_menu_button:hover {
      opacity: 0.8; }
    .header-wrap .header_menu_button span {
      margin-right: 9px; }
      @media screen and (max-width: 768px) {
        .header-wrap .header_menu_button span {
          display: none; } }
    .header-wrap .header_menu_button .icon-menu {
      font-size: 18px;
      display: inline-block;
      height: 31px;
      vertical-align: middle; }
  .header-wrap.active-menu .header_menu_button {
    background: #9d79e2;
    background: -webkit-linear-gradient(legacy-direction(90deg), #9d79e2, #6fecbb);
    background: linear-gradient(90deg, #9d79e2, #6fecbb);
    color: #fff; }
  .header-wrap .header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5; }
    .header-wrap .header .left {
      float: left;
      position: relative; }
      @media screen and (max-width: 768px) {
        .header-wrap .header .left {
          float: none; } }
    .header-wrap .header .right {
      float: right; }
      @media screen and (max-width: 768px) {
        .header-wrap .header .right {
          display: none; } }
  .header-wrap .header .logo {
    margin: 14px 30px 0 0;
    display: inline-block; }
    .header-wrap .header .logo a {
      background: url(../images/logo.png) no-repeat 0 0;
      background-size: contain;
      text-indent: -5000px;
      width: 107px;
      height: 26px;
      display: inline-block;
      -webkit-transition: opacity ease-out 0.2s;
      -moz-transition: opacity ease-out 0.2s;
      -ms-transition: opacity ease-out 0.2s;
      -o-transition: opacity ease-out 0.2s;
      transition: opacity ease-out 0.2s; }
    @media screen and (max-width: 768px) {
      .header-wrap .header .logo {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center; }
        .header-wrap .header .logo a {
          margin: 0 auto; }
        .header-wrap .header .logo:hover {
          opacity: 0.8; } }
  .header-wrap .header_text {
    color: #9555ec;
    font: 24px "PantonRegular", Aria, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 12px;
    vertical-align: top;
    letter-spacing: -0.02em;
    margin-left: 0; }
    @media screen and (max-width: 900px) {
      .header-wrap .header_text {
        display: none; } }
  .header-wrap .header_social.fb, .header-wrap .header_location {
    float: left;
    width: 56px;
    height: 54px;
    overflow: hidden;
    -webkit-transition: opacity ease-out 0.2s;
    -moz-transition: opacity ease-out 0.2s;
    -ms-transition: opacity ease-out 0.2s;
    -o-transition: opacity ease-out 0.2s;
    transition: opacity ease-out 0.2s; }
    @media screen and (max-width: 768px) {
      .header-wrap .header_social.fb, .header-wrap .header_location {
        display: table-cell;
        vertical-align: middle;
        border: none !important;
        float: none; } }
    .header-wrap .header_social.fb:hover, .header-wrap .header_location:hover {
      opacity: 0.8; }
  .header-wrap .header_location {
    width: 38px; }
    @media screen and (max-width: 768px) {
      .header-wrap .header_location {
        width: 25px; } }
  .header-wrap .header_social.fb {
    border: 1px solid #d0d9dc;
    border-width: 0 1px 0 1px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .header-wrap .header_social.fb {
        width: 28px; } }

#header_menu {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 55px;
  z-index: 10; }
  #header_menu button {
    display: none; }
  @media screen and (max-width: 768px) {
    #header_menu {
      z-index: 200; } }

.header_menu_wrapper {
  position: absolute;
  width: 248px;
  top: 0;
  background-color: #f8f9fb;
  height: 100%;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.3);
  padding: 0 0 0 20%; }
  .header_menu_wrapper p {
    text-align: left;
    padding: 0;
    width: 248px;
    left: initial;
    margin: 0 0 50px;
    padding-right: 60px;
    width: 200px;
    font-size: 13px;
    line-height: 1.65; }
    @media screen and (max-width: 768px) {
      .header_menu_wrapper p {
        margin-bottom: 120px; } }
    .header_menu_wrapper p i {
      display: inline-block;
      margin-right: 5px; }
  @media screen and (max-width: 1920px) {
    .header_menu_wrapper {
      padding: 0 0 0 15%; } }
  @media screen and (max-width: 1680px) {
    .header_menu_wrapper {
      padding: 0 0 0 10%; } }
  @media screen and (max-width: 1280px) {
    .header_menu_wrapper {
      padding: 0 0 0 60px; } }
  @media screen and (max-width: 1024px) {
    .header_menu_wrapper {
      padding: 0 0 0 40px; } }
  @media screen and (max-width: 768px) {
    .header_menu_wrapper {
      padding: 0 0 0 20px; } }

.header_menu_container {
  overflow: hidden;
  width: 248px;
  height: 100%; }
  .header_menu_container .header_menu_overflow {
    overflow-y: auto;
    overflow-x: hidden;
    width: 273px;
    height: 100%; }
    .header_menu_container .header_menu_overflow ul {
      margin-bottom: 40px;
      list-style-type: none;
      text-align: left;
      padding: 0;
      width: 248px;
      left: initial; }
      .header_menu_container .header_menu_overflow ul:first-child {
        margin-top: 77px; }
        @media screen and (max-width: 768px) {
          .header_menu_container .header_menu_overflow ul:first-child {
            margin-top: 20px; } }
      @media screen and (max-width: 768px) {
        .header_menu_container .header_menu_overflow ul {
          margin-bottom: 20px; } }
      .header_menu_container .header_menu_overflow ul li {
        border-bottom: 1px solid #e0e0e2;
        font-size: 19px;
        color: #020202;
        padding: 13px 0;
        line-height: 1;
        letter-spacing: 0.03em; }
        .header_menu_container .header_menu_overflow ul li a {
          text-decoration: none;
          color: #020202;
          -webkit-transition: opacity ease-out 0.2s;
          -moz-transition: opacity ease-out 0.2s;
          -ms-transition: opacity ease-out 0.2s;
          -o-transition: opacity ease-out 0.2s;
          transition: opacity ease-out 0.2s; }
          .header_menu_container .header_menu_overflow ul li a span {
            position: relative;
            color: #a876f3;
            font-size: 12px;
            top: -5px;
            margin-left: 5px; }
          .header_menu_container .header_menu_overflow ul li a:hover {
            opacity: 0.8; }

.header_menu_link {
  display: block;
  width: 42px;
  height: 40px;
  background: url("../images/itm-sprite.png") -272px 0 no-repeat red; }

.header_menu-wrap {
  display: none; }

.mobile_only .header_search {
  margin: 20px 0 10px;
  display: block; }
  @media screen and (max-width: 768px) {
    .mobile_only .header_search input[type="text"] {
      width: 190px; } }

.header_search {
  float: left;
  margin-top: 14px;
  margin-right: 45px;
  display: block; }
  @media screen and (max-width: 768px) {
    .header_search {
      float: none;
      display: table-cell;
      vertical-align: middle; } }

.main_block-item_form {
  width: 184px; }

input {
  outline: none; }

.header_search input, .main_block-item_form input {
  font: 12px "SegoeWPSemilight", Aria, Helvetica, sans-serif; }

.header_search input[type="text"] {
  background-color: #e1e1e1;
  border: 0;
  border-radius: 15px 0 0 15px;
  height: 24px;
  width: 152px;
  padding: 0 12px;
  box-sizing: border-box;
  float: left; }

.main_block-item_form input[type="text"], .main_block-item_form input[type="phone"] {
  background-color: #e1e1e1;
  border: 0;
  border-radius: 15px 0 0 15px;
  height: 24px;
  width: 152px;
  padding: 0 12px;
  box-sizing: border-box;
  float: left; }

.header_search input[type="submit"] {
  background: url(../../../_pic/style/ww-sprite.png) 11px -295px no-repeat #555555;
  overflow: hidden;
  text-indent: -100px;
  width: 38px;
  height: 24px;
  border-radius: 0 15px 15px 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  -webkit-transition: opacity ease-out 0.2s;
  -moz-transition: opacity ease-out 0.2s;
  -ms-transition: opacity ease-out 0.2s;
  -o-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s; }
  .header_search input[type="submit"]:hover {
    opacity: 0.8; }

.main_block-item_form input[type="submit"] {
  background: url(../../../_pic/style/ww-sprite.png) 11px -295px no-repeat #555555;
  overflow: hidden;
  text-indent: -100px;
  width: 38px;
  height: 24px;
  border-radius: 0 15px 15px 0;
  border: 0;
  margin: 0; }
.main_block-item_form input[type="text"] {
  border-radius: 15px;
  margin-bottom: 18px;
  width: 183px; }
.main_block-item_form input[type="phone"] {
  width: 146px; }
.main_block-item_form input[type="submit"] {
  background-position: 12px -400px; }

.portfolio_search {
  width: 100%;
  position: relative; }
  .portfolio_search input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    border-top: 2px solid #decef3;
    border-bottom: 1px solid #d1d1d1;
    padding: 0 10px 0 50px;
    border-radius: 0; }
    .portfolio_search input[type="text"]::-ms-clear {
      display: none;
      width: 0;
      height: 0; }
    .portfolio_search input[type="text"]::-webkit-inner-spin-button {
      display: none;
      width: 0;
      height: 0; }
  .portfolio_search.icon-search:before {
    position: absolute;
    left: 10px;
    top: 7px;
    color: #93999a;
    font-size: 25px; }
  .portfolio_search input[type="submit"] {
    display: none; }

.filter_form {
  padding: 0;
  margin: 20px 0;
  font: bold 24px/24px "PantonLight";
  color: #000;
  letter-spacing: -0.04em; }
  .filter_form button {
    border: 0;
    cursor: pointer;
    border-bottom: 1px dashed #666;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    color: #666666;
    padding: 0;
    margin: 0 38px 0 20px;
    letter-spacing: -0.015em;
    text-shadow: none;
    position: relative;
    font: 24px/24px "PantonLight";
    background-color: inherit;
    width: auto !important; }
    @media screen and (max-width: 768px) {
      .filter_form button {
        margin: 20px 0 0 0;
        display: block; } }
    .filter_form button:focus {
      outline: none; }

.ui-multiselect span.ui-icon {
  border-left: none;
  height: 100%;
  position: absolute;
  right: -38px;
  top: 3px;
  width: 20px;
  color: #9555ec;
  border: 1px solid #9555ec;
  border-radius: 3px;
  height: 20px; }

.ui-multiselect-checkboxes {
  padding: 0;
  list-style-type: none; }
  .ui-multiselect-checkboxes li {
    font-size: 0.95em;
    padding-right: 0;
    list-style-type: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background-image: none;
  background-color: #9555ec;
  border: none;
  color: #fff;
  font-weight: normal;
  border-radius: 0; }

.ui-multiselect-checkboxes label {
  padding: 5px 10px 6px; }
  .ui-multiselect-checkboxes label input {
    float: right;
    top: 5px; }

.ui-widget-content {
  background-image: none;
  background-color: #f5f5f5;
  border: 1px solid #c8ccc9;
  width: 230px !important;
  padding: 0; }

.date_select {
  display: inline-block; }
  .date_select button {
    margin: 0 0 0 70px; }
    @media screen and (max-width: 768px) {
      .date_select button {
        margin: 20px 0 0 30px; } }
  .date_select .ui-multiselect span.ui-icon {
    left: -30px;
    right: auto;
    float: left;
    background: url(../images/clock.png) no-repeat 0 0;
    border: none;
    width: 23px;
    height: 23px;
    top: 2px; }
    .date_select .ui-multiselect span.ui-icon:before {
      display: none; }

.tag_list {
  padding: 0;
  list-style-type: none;
  margin: 16px auto 20px; }
  .tag_list li {
    display: inline-block;
    padding: 0 12px 0 10px;
    border: 1px solid #c8cbd1;
    border-radius: 14px;
    margin: 0 6px 12px 0;
    position: relative;
    height: 26px;
    cursor: pointer;
    font-family: "SegoeWPSemilight";
    color: #000;
    font-size: 14px;
    line-height: 26px; }
    @media screen and (max-width: 768px) {
      .tag_list li {
        display: flex;
        overflow: hidden;
        margin-right: 0; } }
    .tag_list li:hover {
      border: 1px dashed #c8cbd1; }
    .tag_list li span {
      color: #999999; }
    .tag_list li .case-quantity {
      font-size: 11px;
      margin-left: 5px;
      line-height: 26px; }
      @media screen and (max-width: 768px) {
        .tag_list li .case-quantity {
          position: absolute;
          right: 20px; } }
    .tag_list li .icon-cancel {
      margin-left: 6px; }
      @media screen and (max-width: 768px) {
        .tag_list li .icon-cancel {
          position: absolute;
          right: 10px; } }
    .tag_list li:hover .icon-cancel {
      color: #fa7a92; }

body.item2 .active-menu .header_menu_button {
  background: #6fecbb;
  background: -webkit-linear-gradient(legacy-direction(90deg), #6fecbb, #ffdfe2);
  background: linear-gradient(90deg, #6fecbb, #ffdfe2); }
body.item2 .header_menu_overflow ul li a span {
  color: #6fecbb; }
body.item2 .header_text {
  color: #6fecbb; }
body.item2 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item2 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile {
  color: #6fecbb; }
body.item3 .active-menu .header_menu_button {
  background: #ffdfe2;
  background: -webkit-linear-gradient(legacy-direction(90deg), #ffdfe2, #6cc5f3);
  background: linear-gradient(90deg, #ffdfe2, #6cc5f3); }
body.item3 .header_menu_overflow ul li a span {
  color: #ffdfe2; }
body.item3 .header_text {
  color: #ffdfe2; }
body.item3 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item3 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile {
  color: #ffdfe2; }
body.item4 .active-menu .header_menu_button {
  background: #6cc5f3;
  background: -webkit-linear-gradient(legacy-direction(90deg), #6cc5f3, #ccf2b3);
  background: linear-gradient(90deg, #6cc5f3, #ccf2b3); }
body.item4 .header_menu_overflow ul li a span {
  color: #6cc5f3; }
body.item4 .header_text {
  color: #6cc5f3; }
body.item4 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item4 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile {
  color: #6cc5f3; }
body.item5 .active-menu .header_menu_button {
  background: #ccf2b3;
  background: -webkit-linear-gradient(legacy-direction(90deg), #ccf2b3, #ffc1b5);
  background: linear-gradient(90deg, #ccf2b3, #ffc1b5); }
body.item5 .header_menu_overflow ul li a span {
  color: #ccf2b3; }
body.item5 .header_text {
  color: #ccf2b3; }
body.item5 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item5 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile {
  color: #ccf2b3; }
body.item6 .active-menu .header_menu_button {
  background: #ffc1b5;
  background: -webkit-linear-gradient(legacy-direction(90deg), #ffc1b5, #759def);
  background: linear-gradient(90deg, #ffc1b5, #759def); }
body.item6 .header_menu_overflow ul li a span {
  color: #ffc1b5; }
body.item6 .header_text {
  color: #ffc1b5; }
body.item6 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item6 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile {
  color: #ffc1b5; }
body.item7 .active-menu .header_menu_button {
  background: #759def;
  background: -webkit-linear-gradient(legacy-direction(90deg), #759def, #9d79e2);
  background: linear-gradient(90deg, #759def, #9d79e2); }
body.item7 .header_menu_overflow ul li a span {
  color: #759def; }
body.item7 .header_text {
  color: #759def; }
body.item7 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active h3.title, body.item7 .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title_mobile {
  color: #759def; }

.swiper-container.gallery-thumbs {
  overflow: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .swiper-container.gallery-thumbs .item1 {
    background: #9d79e2;
    background: -webkit-linear-gradient(legacy-direction(90deg), #9d79e2, #6fecbb);
    background: linear-gradient(90deg, #9d79e2, #6fecbb); }
  .swiper-container.gallery-thumbs .item2 {
    background: #6fecbb;
    background: -webkit-linear-gradient(legacy-direction(90deg), #6fecbb, #ffdfe2);
    background: linear-gradient(90deg, #6fecbb, #ffdfe2); }
  .swiper-container.gallery-thumbs .item3 {
    background: #ffdfe2;
    background: -webkit-linear-gradient(legacy-direction(90deg), #ffdfe2, #6cc5f3);
    background: linear-gradient(90deg, #ffdfe2, #6cc5f3); }
  .swiper-container.gallery-thumbs .item4 {
    background: #6cc5f3;
    background: -webkit-linear-gradient(legacy-direction(90deg), #6cc5f3, #ccf2b3);
    background: linear-gradient(90deg, #6cc5f3, #ccf2b3); }
  .swiper-container.gallery-thumbs .item5 {
    background: #ccf2b3;
    background: -webkit-linear-gradient(legacy-direction(90deg), #ccf2b3, #ffc1b5);
    background: linear-gradient(90deg, #ccf2b3, #ffc1b5); }
  .swiper-container.gallery-thumbs .item6 {
    background: #ffc1b5;
    background: -webkit-linear-gradient(legacy-direction(90deg), #ffc1b5, #759def);
    background: linear-gradient(90deg, #ffc1b5, #759def); }
  .swiper-container.gallery-thumbs .item7 {
    background: #759def;
    background: -webkit-linear-gradient(legacy-direction(90deg), #759def, #9d79e2);
    background: linear-gradient(90deg, #759def, #9d79e2); }

.test .case_list li {
  width: 33.33% !important; }

.main_swiper .swiper-container.gallery-top {
  height: 100%;
  background: #f5f5f5; }
  .main_swiper .swiper-container.gallery-top:before {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 70px;
    top: 40px;
    right: 0;
    z-index: 10;
    background: rgba(245, 245, 245, 0);
    background: -webkit-linear-gradient(legacy-direction(90deg), rgba(245, 245, 245, 0), whitesmoke);
    background: linear-gradient(90deg, rgba(245, 245, 245, 0), whitesmoke); }
    @media screen and (max-width: 1024px) {
      .main_swiper .swiper-container.gallery-top:before {
        display: none; } }
  .main_swiper .swiper-container.gallery-top .swiper-button-white {
    background-image: url(../images/main-rarr.png) !important;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 60px;
    top: 179px;
    z-index: 100;
    background-size: 100%; }
    @media screen and (max-width: 1680px) {
      .main_swiper .swiper-container.gallery-top .swiper-button-white {
        right: 40px; } }
    @media screen and (max-width: 1024px) {
      .main_swiper .swiper-container.gallery-top .swiper-button-white {
        top: 42px;
        margin: 0;
        width: 27px;
        height: 27px;
        background-size: initial; } }
    @media screen and (max-width: 768px) {
      .main_swiper .swiper-container.gallery-top .swiper-button-white {
        right: 10px;
        top: 30px; } }
    .main_swiper .swiper-container.gallery-top .swiper-button-white.swiper-button-prev {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      right: auto;
      left: 60px; }
      @media screen and (max-width: 1680px) {
        .main_swiper .swiper-container.gallery-top .swiper-button-white.swiper-button-prev {
          left: 40px; } }
      @media screen and (max-width: 1024px) {
        .main_swiper .swiper-container.gallery-top .swiper-button-white.swiper-button-prev {
          left: auto;
          right: 120px; } }
      @media screen and (max-width: 768px) {
        .main_swiper .swiper-container.gallery-top .swiper-button-white.swiper-button-prev {
          right: 50px; } }
  .main_swiper .swiper-container.gallery-top .swiper-slide {
    font-size: 18px;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 60px 30px; }
    @media screen and (max-width: 1680px) {
      .main_swiper .swiper-container.gallery-top .swiper-slide {
        padding: 50px 40px 30px; } }
    @media screen and (max-width: 1024px) {
      .main_swiper .swiper-container.gallery-top .swiper-slide {
        padding: 40px 40px 10px; } }
    @media screen and (max-width: 768px) {
      .main_swiper .swiper-container.gallery-top .swiper-slide {
        padding: 30px 20px 0px; } }
    .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title {
      margin-left: 0;
      color: #813fdf;
      font: 45px "PantonLight", Aria, Helvetica, sans-serif; }
      @media screen and (max-width: 1280px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title {
          font-size: 35px; } }
      @media screen and (max-width: 1024px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide.swiper-slide-active .title {
          font-size: 25px;
          margin-left: 0; } }
    .main_swiper .swiper-container.gallery-top .swiper-slide h3.title {
      text-transform: uppercase;
      position: relative;
      overflow: hidden;
      letter-spacing: 0.013em;
      font: 45px "PantonExtraLight", Aria, Helvetica, sans-serif;
      margin-left: -55%;
      color: #999999; }
      @media screen and (max-width: 1280px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide h3.title {
          font-size: 35px; } }
      @media screen and (max-width: 1024px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide h3.title {
          display: none; } }
    .main_swiper .swiper-container.gallery-top .swiper-slide .title_mobile {
      display: none;
      text-transform: uppercase;
      letter-spacing: 0.013em;
      color: #813fdf;
      font: 30px "PantonLight", Aria, Helvetica, sans-serif; }
      @media screen and (max-width: 1024px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide .title_mobile {
          display: block; } }
      @media screen and (max-width: 768px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide .title_mobile {
          font: 24px "PantonLight", Aria, Helvetica, sans-serif;
          padding-right: 50px; } }
      .main_swiper .swiper-container.gallery-top .swiper-slide .title_mobile span {
        position: absolute;
        color: #999999;
        left: 600px;
        font-weight: normal;
        width: 100%;
        text-align: left;
        font: 45px "PantonExtraLight", Aria, Helvetica, sans-serif; }
    .main_swiper .swiper-container.gallery-top .swiper-slide .airship {
      width: 246px;
      height: 185px;
      margin: -20px 0 0 80px;
      display: inline-block;
      vertical-align: top;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
      .main_swiper .swiper-container.gallery-top .swiper-slide .airship.support, .main_swiper .swiper-container.gallery-top .swiper-slide .airship.e_commerce, .main_swiper .swiper-container.gallery-top .swiper-slide .airship.industry_solutions, .main_swiper .swiper-container.gallery-top .swiper-slide .airship.adaptive_mobile, .main_swiper .swiper-container.gallery-top .swiper-slide .airship.competencies {
        margin-top: 5px; }
      .main_swiper .swiper-container.gallery-top .swiper-slide .airship.business_solutions {
        margin-top: 10px; }
      @media screen and (max-width: 1024px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide .airship {
          margin: 0px 0 0 0px;
          width: 145px;
          height: 109px;
          background-size: contain; } }
      @media screen and (max-width: 768px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide .airship {
          display: none; } }
    .main_swiper .swiper-container.gallery-top .swiper-slide .description {
      max-width: 400px;
      height: 170px;
      font: 16px/1.3 "HelveticaLight", Aria, Helvetica, sans-serif;
      padding-left: 40px;
      margin: 50px 0 0px;
      display: inline-block; }
      @media screen and (max-width: 1024px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide .description {
          margin: 0px; } }
      @media screen and (max-width: 768px) {
        .main_swiper .swiper-container.gallery-top .swiper-slide .description {
          padding-left: 0;
          height: auto;
          margin-bottom: 20px; } }
    .main_swiper .swiper-container.gallery-top .swiper-slide .case_list {
      margin: 0 -10px; }
      .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li {
        float: left;
        width: 25%;
        display: inline-block;
        margin-bottom: 20px; }
        @media screen and (max-width: 768px) {
          .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li {
            width: 100%; } }
        .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li img {
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: transform;
          transition-property: transform; }
        .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li:hover img {
          -webkit-transform: scale(1.2);
          transform: scale(1.2); }
          @media screen and (max-width: 768px) {
            .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li:hover img {
              transform: none;
              -webkit-transform: none; } }
        .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a {
          margin: 0 10px;
          text-decoration: none;
          cursor: pointer;
          position: relative;
          display: block;
          height: 100%;
          overflow: hidden; }
          .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a img {
            width: 100%;
            display: block; }
          .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a .title {
            color: #fff;
            font: 22px/1.3 "PantonLight", Aria, Helvetica, sans-serif;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            height: 75px;
            left: 20px;
            padding-top: 50px;
            max-width: 200px; }
            .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a .title.long {
              height: 105px; }
              @media screen and (max-width: 1024px) {
                .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a .title.long {
                  height: 75px; } }
              @media screen and (max-width: 768px) {
                .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a .title.long {
                  height: 105px; } }
            @media screen and (max-width: 1024px) {
              .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a .title {
                font: 16px/1.3 "PantonLight", Aria, Helvetica, sans-serif;
                height: 55px;
                left: 15px; } }
            @media screen and (max-width: 768px) {
              .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a .title {
                font: 22px/1.3 "PantonLight", Aria, Helvetica, sans-serif;
                height: 75px; } }
          .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a strong {
            margin-top: -50px;
            display: block;
            font-size: 50px;
            font-weight: normal;
            line-height: 1; }
            @media screen and (max-width: 1024px) {
              .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a strong {
                font-size: 35px;
                margin-top: -35px; } }
            @media screen and (max-width: 768px) {
              .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li a strong {
                font-size: 30px;
                margin-top: -30px; } }
        .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li .last {
          margin: 0 10px;
          text-transform: uppercase;
          position: relative; }
          .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li .last .title {
            position: absolute;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 50%;
            color: #ccc;
            font: 12px/12px "PantonBold", Aria, Helvetica, sans-serif;
            width: 100%;
            text-align: center; }
          .main_swiper .swiper-container.gallery-top .swiper-slide .case_list li .last img {
            display: block;
            width: 100%;
            transform: none;
            -webkit-transform: none; }

.project_gallery {
  position: relative;
  height: 550px; }
  @media screen and (max-width: 1024px) {
    .project_gallery {
      height: 450px; } }
  @media screen and (max-width: 768px) {
    .project_gallery {
      height: 350px; } }
  .project_gallery .center_container {
    background: #f5f5f5;
    margin: 0 auto;
    height: 550px;
    width: 60%;
    position: relative; }
    @media screen and (max-width: 1920px) {
      .project_gallery .center_container {
        width: 70%; } }
    @media screen and (max-width: 1680px) {
      .project_gallery .center_container {
        width: 80%; } }
    @media screen and (max-width: 1280px) {
      .project_gallery .center_container {
        margin: 0 60px;
        width: auto; } }
    @media screen and (max-width: 1024px) {
      .project_gallery .center_container {
        margin: 0 40px;
        height: 450px; } }
    @media screen and (max-width: 768px) {
      .project_gallery .center_container {
        margin: 0 20px;
        height: 350px; } }
    .project_gallery .center_container .background {
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      width: 100%;
      height: 404px;
      position: absolute;
      left: 0;
      top: 65px; }
      @media screen and (max-width: 1024px) {
        .project_gallery .center_container .background {
          height: 304px; } }
      @media screen and (max-width: 768px) {
        .project_gallery .center_container .background {
          height: 150px;
          top: 96px; } }
  .project_gallery .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 550px;
    padding-bottom: 20px;
    -webkit-animation: bounceInDown 2s;
    animation: bounceInDown 2s; }
    @media screen and (max-width: 1024px) {
      .project_gallery .swiper-container {
        height: 450px; } }
    @media screen and (max-width: 768px) {
      .project_gallery .swiper-container {
        height: 350px;
        -webkit-animation: none;
        animation: none; } }
  .project_gallery .swiper-slide {
    text-align: center;
    position: relative; }
    .project_gallery .swiper-slide img {
      display: block;
      position: relative;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 50%;
      margin: 0 auto;
      max-width: 100%; }
    .project_gallery .swiper-slide.swiper-slide-active {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0 20%; }
      @media screen and (max-width: 1920px) {
        .project_gallery .swiper-slide.swiper-slide-active {
          padding: 0 15%; } }
      @media screen and (max-width: 1680px) {
        .project_gallery .swiper-slide.swiper-slide-active {
          padding: 0 10%; } }
      @media screen and (max-width: 1280px) {
        .project_gallery .swiper-slide.swiper-slide-active {
          padding: 0 60px; } }
      @media screen and (max-width: 1024px) {
        .project_gallery .swiper-slide.swiper-slide-active {
          padding: 0 40px; }
          .project_gallery .swiper-slide.swiper-slide-active img {
            max-height: 90%; } }
      @media screen and (max-width: 768px) {
        .project_gallery .swiper-slide.swiper-slide-active {
          padding: 0; }
          .project_gallery .swiper-slide.swiper-slide-active img {
            max-height: 80%; } }
      .project_gallery .swiper-slide.swiper-slide-active .hidden_block {
        display: block; }
    .project_gallery .swiper-slide.swiper-slide-prev img {
      float: right;
      margin-right: -100px;
      max-height: 60%; }
      @media screen and (max-width: 1280px) {
        .project_gallery .swiper-slide.swiper-slide-prev img {
          margin-right: -50px; } }
      @media screen and (max-width: 1024px) {
        .project_gallery .swiper-slide.swiper-slide-prev img {
          margin-right: 0;
          float: none;
          max-height: 80%; } }
    .project_gallery .swiper-slide.swiper-slide-next img {
      float: left;
      margin-left: -100px;
      max-height: 60%; }
      @media screen and (max-width: 1280px) {
        .project_gallery .swiper-slide.swiper-slide-next img {
          margin-left: -50px; } }
      @media screen and (max-width: 1024px) {
        .project_gallery .swiper-slide.swiper-slide-next img {
          margin-left: 0;
          float: none;
          max-height: 80%; } }
  .project_gallery .swiper-button-white {
    background: url(../images/button-prev.png) no-repeat 0 0 !important;
    width: 28px;
    height: 54px;
    margin-top: -37px; }
    @media screen and (max-width: 768px) {
      .project_gallery .swiper-button-white {
        display: none; } }
  .project_gallery .swiper-button-prev {
    left: 50%;
    margin-left: -418px; }
    @media screen and (max-width: 1024px) {
      .project_gallery .swiper-button-prev {
        left: 60px;
        margin-left: 0; } }
  .project_gallery .swiper-button-next {
    right: 50%;
    margin-right: -418px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
    @media screen and (max-width: 1024px) {
      .project_gallery .swiper-button-next {
        right: 60px;
        margin-right: 0; } }
  .project_gallery .swiper-pagination {
    bottom: 17px !important; }
  .project_gallery .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #f5f5f5;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    text-align: center;
    border: 1px solid #f5f5f5; }
    .project_gallery .swiper-pagination-bullet.swiper-pagination-bullet-active {
      border: 1px solid #4b4e54; }
    .project_gallery .swiper-pagination-bullet:before {
      content: "";
      width: 4px;
      height: 4px;
      display: block;
      margin: 3px;
      background: #4b4e54;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

#section1 {
  position: relative; }

.lines_block {
  position: absolute;
  top: 0;
  width: 626px;
  left: 50%;
  margin-left: -420px; }
  @media screen and (max-width: 768px) {
    .lines_block {
      display: none; } }
  .lines_block .inner {
    position: relative; }
    .lines_block .inner span {
      display: inline-block;
      position: absolute;
      top: 0; }
      .lines_block .inner span.line1 {
        background: url(../images/line1.png) no-repeat 0 0;
        width: 291px;
        height: 157px;
        left: 63px;
        top: 77px; }
        @media screen and (max-width: 1024px) {
          .lines_block .inner span.line1 {
            width: 242px;
            left: 141px; } }
      .lines_block .inner span.line2 {
        background: url(../images/line2.png) no-repeat 0 0;
        width: 33px;
        height: 242px;
        top: 76px;
        left: 29px; }
        @media screen and (max-width: 1024px) {
          .lines_block .inner span.line2 {
            left: 112px; } }
      .lines_block .inner span.line3 {
        background: url(../images/line3.png) no-repeat 0 0;
        width: 158px;
        height: 195px;
        top: 213px;
        left: 353px; }
      .lines_block .inner span.line4 {
        background: url(../images/line4.png) no-repeat 0 0;
        width: 355px;
        height: 124px;
        top: 408px;
        left: 155px; }
        @media screen and (max-width: 1024px) {
          .lines_block .inner span.line4 {
            top: 410px;
            left: 205px; } }
      .lines_block .inner span.line5 {
        background: url(../images/line5.png) no-repeat 0 0;
        width: 151px;
        height: 254px;
        top: 414px;
        left: 374px; }
      .lines_block .inner span.line6 {
        background: url(../images/line6.png) no-repeat 0 0;
        width: 108px;
        height: 295px;
        top: 415px;
        left: 517px; }

#section2 .post, #section3 .post, #section4 .post {
  visibility: hidden; }
  @media screen and (max-width: 768px) {
    #section2 .post, #section3 .post, #section4 .post {
      visibility: visible; } }

#section4 {
  padding-bottom: 200px; }
  @media screen and (max-width: 768px) {
    #section4 {
      padding-bottom: 50px; } }

.about_list {
  list-style-type: none;
  margin: 85px auto 0;
  display: table;
  max-width: 820px;
  font: 14px/1.25 "SegoeWPSemilight"; }
  @media screen and (max-width: 1024px) {
    .about_list {
      max-width: auto; } }
  @media screen and (max-width: 768px) {
    .about_list {
      margin: 40px auto 0;
      text-align: center; } }
  .about_list li {
    position: relative;
    z-index: 1; }
    .about_list li div {
      position: relative; }
      .about_list li div:before {
        content: "";
        display: inline-block;
        background-image: url(../images/about_icons.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        left: 0;
        top: 0; }
        @media screen and (max-width: 768px) {
          .about_list li div:before {
            position: static;
            display: block;
            margin: 0 auto 20px; } }
      @media screen and (max-width: 768px) {
        .about_list li div {
          padding-left: 0 !important;
          margin: 0 0 40px !important;
          width: auto !important; } }
    .about_list li.item1 div {
      width: 370px;
      padding-left: 127px;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease; }
      @media screen and (max-width: 1024px) {
        .about_list li.item1 div {
          width: 330px; } }
      .about_list li.item1 div:before {
        width: 99px;
        height: 99px;
        top: 27px; }
    .about_list li.item2 div {
      width: 372px;
      padding-left: 123px;
      margin: 63px 0 0 290px;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out; }
      @media screen and (max-width: 1024px) {
        .about_list li.item2 div {
          margin: 63px 0 0 200px;
          width: 315px; } }
      .about_list li.item2 div:before {
        width: 99px;
        height: 99px;
        background-position: -124px 0;
        top: -15px; }
    .about_list li.item3 div {
      width: 292px;
      padding-left: 88px;
      margin-top: 80px;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear; }
      @media screen and (max-width: 1024px) {
        .about_list li.item3 div {
          width: 250px; } }
      .about_list li.item3 div:before {
        width: 99px;
        height: 99px;
        background-position: -247px 0;
        top: -67px;
        left: 5px; }
    .about_list li.item4 div {
      width: 325px;
      margin: 45px 0 0 465px;
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in; }
      @media screen and (max-width: 1024px) {
        .about_list li.item4 div {
          margin: 45px 0 0 375px;
          width: 265px; } }
      .about_list li.item4 div:before {
        width: 99px;
        height: 99px;
        background-position: -374px 0;
        top: -120px; }
    .about_list li.item5 div {
      width: 175px;
      padding-left: 40px;
      margin-top: -75px;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease; }
      .about_list li.item5 div:before {
        width: 44px;
        height: 37px;
        background-position: -503px -1px;
        top: -23px;
        left: 5px; }
    .about_list li.item6 div {
      width: 277px;
      margin: 68px 0 0 257px;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear; }
      @media screen and (max-width: 1024px) {
        .about_list li.item6 div {
          margin: 68px 0 0 190px; } }
      .about_list li.item6 div:before {
        width: 47px;
        height: 33px;
        background-position: -572px -3px;
        top: -18px;
        left: -30px; }
    .about_list li.item7 div {
      width: 235px;
      margin-left: 592px;
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in; }
      @media screen and (max-width: 1024px) {
        .about_list li.item7 div {
          margin-left: 460px;
          width: 185px; } }
      .about_list li.item7 div:before {
        width: 47px;
        height: 22px;
        background-position: -642px -1px;
        top: -2px;
        left: -30px; }
    .about_list li.item8 div {
      text-align: center; }
      .about_list li.item8 div .title {
        color: #ccc;
        font: 200px/200px "PantonLight"; }
        @media screen and (max-width: 1024px) {
          .about_list li.item8 div .title {
            font: 150px/150px "PantonLight"; } }
        @media screen and (max-width: 768px) {
          .about_list li.item8 div .title {
            font: 100px/100px "PantonLight";
            position: static !important; } }
      .about_list li.item8 div p {
        font: 36px/36px "PantonLight";
        color: #000;
        text-transform: uppercase; }
        @media screen and (max-width: 1024px) {
          .about_list li.item8 div p {
            max-width: 625px; } }
        @media screen and (max-width: 768px) {
          .about_list li.item8 div p {
            font: 18px/30px "PantonLight";
            margin: 20px 0 40px 0; } }
    .about_list li.item9 div {
      width: 327px;
      margin: 92px auto 0; }
      .about_list li.item9 div .title {
        font: 36px/36px "PantonLight"; }
      .about_list li.item9 div:before {
        width: 45px;
        height: 78px;
        background-position: -713px -1px;
        top: -13px;
        left: -60px; }
    .about_list li.item10 div {
      width: 307px;
      margin-top: 175px; }
      @media screen and (max-width: 1024px) {
        .about_list li.item10 div {
          width: 230px; } }
      .about_list li.item10 div .title {
        font: 34px/34px "PantonLight"; }
      .about_list li.item10 div:before {
        width: 82px;
        height: 85px;
        background-position: -773px -2px;
        top: -100px;
        left: 24px; }
    .about_list li.item11 div {
      width: 260px;
      margin: -17px 0 0 353px; }
      @media screen and (max-width: 1024px) {
        .about_list li.item11 div {
          margin: -17px 0 0 240px; } }
      .about_list li.item11 div .title {
        font: 34px/34px "PantonLight"; }
      .about_list li.item11 div:before {
        width: 76px;
        height: 87px;
        background-position: -870px -1px;
        top: -105px;
        left: -4px; }
    .about_list li.item12 div {
      width: 252px;
      margin: -173px 0 0 572px; }
      @media screen and (max-width: 1024px) {
        .about_list li.item12 div {
          margin: -173px 0 0 430px;
          width: 175px; } }
      .about_list li.item12 div .title {
        font: 34px/34px "PantonLight"; }
      .about_list li.item12 div:before {
        width: 80px;
        height: 91px;
        background-position: -965px -1px;
        top: -112px;
        left: -5px; }
  .about_list p {
    margin: 0; }
  .about_list .title {
    font: 45px/45px "PantonLight";
    color: #000;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin-bottom: 5px; }
    @media screen and (max-width: 1024px) {
      .about_list .title {
        font: 34px/34px "PantonLight"; } }

.with_us {
  position: relative;
  margin-top: -100px; }
  @media screen and (max-width: 768px) {
    .with_us {
      margin-top: 0; } }
  .with_us .title {
    color: #ccc;
    font: 200px/200px "PantonLight";
    position: absolute;
    width: 100%;
    bottom: -505px;
    display: block;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (max-width: 1024px) {
      .with_us .title {
        font: 150px/150px "PantonLight";
        bottom: -465px; } }
    @media screen and (max-width: 768px) {
      .with_us .title {
        font: 60px/60px "PantonLight";
        position: static !important; } }

body {
  min-width: 320px;
  overflow-x: hidden; }

.rel {
  position: relative; }

.fl_l {
  float: left; }

.fl_r {
  float: right; }

.clearfix:before {
  content: "";
  display: table; }
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  zoom: 1; }

body {
  color: #666;
  font: 14px/1.5 "HelveticaLight", Aria, Helvetica, sans-serif;
  position: relative; }

.page-buffer {
  height: 50px; }

.main {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 79px 20% 25px; }
  @media screen and (max-width: 1920px) {
    .main {
      padding: 79px 15% 25px; } }
  @media screen and (max-width: 1680px) {
    .main {
      padding: 79px 10% 25px; } }
  @media screen and (max-width: 1280px) {
    .main {
      padding: 79px 60px 25px; } }
  @media screen and (max-width: 1024px) {
    .main {
      padding: 79px 40px 25px; } }
  @media screen and (max-width: 768px) {
    .main {
      padding: 75px 20px 20px; } }
  .main.top_row {
    padding-bottom: 0; }
  .main.bottom_row {
    padding-top: 0;
    padding-bottom: 0; }

.mobile_only {
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile_only {
      display: block; } }

.white_container {
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px; }

.two_col {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .two_col .col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    width: 50%; }

.col2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px; }

.col3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px; }

.center {
  text-align: center; }

.section_title {
  background: #F5F5F5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font: 45px/69px "PantonLight";
  margin: 0;
  text-transform: uppercase;
  padding-left: 15px;
  letter-spacing: 0.005em;
  position: relative;
  z-index: 3;
  height: 69px; }
  @media screen and (max-width: 768px) {
    .section_title {
      height: 62px;
      font: 40px/62px "PantonLight"; } }
  .section_title.center {
    padding: 0;
    border-bottom: 1px solid #decef3; }
    @media screen and (max-width: 768px) {
      .section_title.center {
        height: 62px;
        font: 16px/62px "PantonLight"; } }

.second_title {
  font: 25px/30px "PantonRegular";
  margin: 0;
  text-transform: uppercase;
  color: #666666;
  margin: 0 auto 20px;
  max-width: 700px;
  text-align: center; }

.relay {
  border-bottom: 1px solid #decef3;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px; }
  .relay.border {
    border-top: 1px solid #decef3;
    border-bottom: 1px solid #decef3; }
  .relay i {
    display: inline-block;
    width: 35px;
    height: 40px;
    font-size: 15px;
    line-height: 36px;
    color: #000;
    text-align: center;
    vertical-align: middle; }
  .relay a {
    color: #b2b2b2;
    text-decoration: none;
    text-transform: uppercase;
    font: 9px/40px Trebuchet MS;
    display: inline-block;
    height: 40px;
    -webkit-transition: opacity ease-out 0.2s;
    -moz-transition: opacity ease-out 0.2s;
    -ms-transition: opacity ease-out 0.2s;
    -o-transition: opacity ease-out 0.2s;
    transition: opacity ease-out 0.2s; }
    .relay a:hover {
      opacity: 0.8; }

.breadcrambs {
  list-style-type: none;
  padding: 0;
  margin: 0 0 15px 15px;
  color: #fff;
  font-size: 8px;
  letter-spacing: 0.05em;
  position: relative;
  z-index: 3; }
  .breadcrambs li {
    margin: 0 10px 0 0;
    display: inline-block;
    text-transform: uppercase;
    font-family: Trebuchet MS; }
    .breadcrambs li a {
      color: #fff; }

.main_block_brick a {
  width: 50%;
  height: 340px;
  float: left;
  box-sizing: border-box;
  border-bottom: 1px solid #F5F5F5;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 2;
  padding: 15px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #f5f5f5;
  font: 14px/1.25 "SegoeWPSemilight";
  text-transform: uppercase; }
  .main_block_brick a:nth-child(odd) {
    border-left: 1px solid #f5f5f5; }
  @media screen and (max-width: 768px) {
    .main_block_brick a {
      width: 100%;
      float: none;
      font: 12px/1.25 "SegoeWPSemilight"; } }
  .main_block_brick a.first:before {
    content: "";
    background: url(../images/tmp/directions-1-1.jpg) no-repeat 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-size: cover;
    top: 0;
    left: 0; }
  .main_block_brick a.first .disk {
    position: absolute;
    width: 100%;
    height: 386px;
    background: url(../images/disk.png) no-repeat 50% 0;
    left: 0;
    z-index: 1;
    top: -121px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s; }
    @media screen and (max-width: 768px) {
      .main_block_brick a.first .disk {
        top: -110px;
        animation: inherit; } }
  .main_block_brick a.big {
    width: 100%;
    border-left: none; }
    .main_block_brick a.big .title {
      height: auto;
      width: 70%; }
  .main_block_brick a:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 340px;
    content: "";
    left: 0;
    top: 0;
    -webkit-transition: background 0.8s ease-in;
    -moz-transition: background 0.8s ease-in;
    -ms-transition: background 0.8s ease-in;
    -o-transition: background 0.8s ease-in;
    transition: background 0.8s ease-in;
    z-index: 2; }
  .main_block_brick a:hover {
    text-decoration: none; }
    .main_block_brick a:hover:after {
      background: rgba(0, 0, 0, 0.3); }
  .main_block_brick a .title {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    height: 117px;
    padding-right: 5%; }
    @media screen and (max-width: 768px) {
      .main_block_brick a .title {
        padding-right: 0;
        height: auto;
        width: 70%; } }
    .main_block_brick a .title span {
      font: 47px/47px "PantonLight";
      text-transform: uppercase;
      color: #fff;
      margin: 0 0 5px;
      letter-spacing: -0.03em;
      display: block;
      position: relative;
      z-index: 2; }
      @media screen and (max-width: 768px) {
        .main_block_brick a .title span {
          font: 40px/40px "PantonLight"; } }

.googlemap {
  overflow: hidden;
  height: 380px;
  background: #f5f5f5; }
  .googlemap #gmap_canvas {
    height: 380px; }
    .googlemap #gmap_canvas .gmnoprint, .googlemap #gmap_canvas .gm-style-cc {
      display: none; }

.feedback {
  padding: 40px;
  background: #f5f5f5; }
  @media screen and (max-width: 768px) {
    .feedback {
      padding: 40px 20px 0; } }
  .feedback .col {
    padding-left: 40px; }
    @media screen and (max-width: 768px) {
      .feedback .col {
        display: block;
        width: 100%;
        border-right: none !important;
        padding-left: 0;
        margin-bottom: 40px; } }
  .feedback .contacts {
    font: 16px/16px "SegoeWPSemilight";
    color: #000;
    border-right: 1px solid #dddddd;
    padding-left: 0; }
    .feedback .contacts span {
      display: block;
      color: #666666;
      margin-bottom: 3px; }
    .feedback .contacts a {
      text-decoration: none;
      color: #000; }
    .feedback .contacts .phone {
      font: 36px/36px "PantonLight";
      color: #000; }
      @media screen and (max-width: 1024px) {
        .feedback .contacts .phone {
          font: 20px/28px "PantonLight"; } }
      .feedback .contacts .phone:before {
        content: "";
        display: inline-block;
        background-image: url(../images/ww-icon-sprite.png);
        background-repeat: no-repeat;
        background-position: 0 -199px;
        width: 52px;
        height: 54px;
        vertical-align: top;
        margin: -10px 15px 0 0;
        position: relative; }

#contact h3 {
  font: 36px/36px "PantonLight";
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #666666; }
  @media screen and (max-width: 1024px) {
    #contact h3 {
      font: 28px/28px "PantonLight"; } }
#contact fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }
#contact input, #contact textarea, #contact button {
  font: 12px/12px "SegoeWPSemilight";
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px; }
  #contact input::-webkit-input-placeholder, #contact textarea::-webkit-input-placeholder, #contact button::-webkit-input-placeholder {
    color: #666666; }
  #contact input::-moz-placeholder, #contact textarea::-moz-placeholder, #contact button::-moz-placeholder {
    color: #666666; }
  #contact input:-ms-input-placeholder, #contact textarea:-ms-input-placeholder, #contact button:-ms-input-placeholder {
    color: #666666; }
  #contact input:-moz-placeholder, #contact textarea:-moz-placeholder, #contact button:-moz-placeholder {
    color: #666666; }
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"] {
  height: 30px;
  width: 100%;
  background: #e1e1e1;
  margin: 0 0 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
#contact textarea {
  width: 100%;
  background: #e1e1e1;
  margin: 0 0 15px;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact textarea:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #717171; }
  #contact input[type="text"]:hover::-webkit-input-placeholder, #contact input[type="email"]:hover::-webkit-input-placeholder, #contact input[type="tel"]:hover::-webkit-input-placeholder, #contact textarea:hover::-webkit-input-placeholder {
    color: #fff; }
  #contact input[type="text"]:hover::-moz-placeholder, #contact input[type="email"]:hover::-moz-placeholder, #contact input[type="tel"]:hover::-moz-placeholder, #contact textarea:hover::-moz-placeholder {
    color: #fff; }
  #contact input[type="text"]:hover:-ms-input-placeholder, #contact input[type="email"]:hover:-ms-input-placeholder, #contact input[type="tel"]:hover:-ms-input-placeholder, #contact textarea:hover:-ms-input-placeholder {
    color: #fff; }
  #contact input[type="text"]:hover:-moz-placeholder, #contact input[type="email"]:hover:-moz-placeholder, #contact input[type="tel"]:hover:-moz-placeholder, #contact textarea:hover:-moz-placeholder {
    color: #fff; }
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }
#contact button[type="submit"] {
  cursor: pointer;
  width: 135px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  height: 30px;
  background: #383838;
  color: #FFF; }
  @media screen and (max-width: 768px) {
    #contact button[type="submit"] {
      margin: 0 auto;
      display: block;
      width: 100%; } }
  #contact button[type="submit"]:hover {
    background: #c1c1c1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #000; }
#contact input:focus, #contact textarea:focus {
  outline: 0;
  background: #c1c1c1; }

.project_head {
  text-align: center;
  padding: 45px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .project_head {
      padding: 45px 20px 0; } }
  .project_head h1 {
    font: 45px/45px "PantonBold";
    text-transform: uppercase;
    margin-bottom: 20px; }
  .project_head .date {
    display: block;
    font: 14px/14px "PantonRegular";
    color: #000;
    margin-bottom: 20px; }

.project_menu {
  list-style-type: none;
  margin: 0; }
  .project_menu li {
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .project_menu li {
        margin-bottom: 6px; } }
    .project_menu li a {
      text-decoration: none;
      color: #666666;
      font: 14px/30px "PantonRegular";
      padding: 0 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      height: 30px;
      border: 1px solid #decef3;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      -webkit-transition: all ease-out 0.2s;
      -moz-transition: all ease-out 0.2s;
      -ms-transition: all ease-out 0.2s;
      -o-transition: all ease-out 0.2s;
      transition: all ease-out 0.2s; }
      .project_menu li a:hover {
        background: #555555;
        color: #fff;
        border: 1px solid #555555; }

.project_item_list {
  background: #f5f5f5;
  padding-top: 40px; }
  .project_item_list ul {
    margin: 0;
    list-style-type: none;
    font: 14px/16px "HelveticaLight", Aria, Helvetica, sans-serif;
    color: #666666; }
    .project_item_list ul li {
      padding: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff;
      height: 190px;
      position: relative;
      float: left; }
      @media screen and (max-width: 1024px) {
        .project_item_list ul li {
          padding: 20px; } }
      @media screen and (max-width: 768px) {
        .project_item_list ul li {
          width: 100% !important;
          float: none; } }
    .project_item_list ul .top {
      position: absolute;
      top: -17px;
      left: -17px;
      display: block;
      background: url(../images/top.png) no-repeat 0 0;
      width: 65px;
      height: 66px; }
    .project_item_list ul .number {
      display: block;
      color: #9555ec;
      font: 35px/35px "PantonLight";
      margin-bottom: 10px; }
    .project_item_list ul p {
      margin: 0;
      max-width: 450px; }
    .project_item_list ul strong {
      font-weight: bold;
      color: #000;
      display: block;
      margin-bottom: 7px; }
    .project_item_list ul.col-2 li {
      width: 50%; }
      .project_item_list ul.col-2 li:first-child {
        background: #ebebeb; }
      .project_item_list ul.col-2 li:last-child {
        background: #d8d8d8; }
    .project_item_list ul.col-3 li {
      width: 33%; }
      .project_item_list ul.col-3 li:nth-child(2) {
        width: 34%;
        background: #e1e1e1; }

.project_details {
  background: #f5f5f5 url(../images/color_bg.png) no-repeat 0 100%;
  background-size: 100%;
  padding-bottom: 40px; }
  .project_details .text {
    padding: 70px 20px 20px;
    max-width: 800px;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .project_details .text {
        padding: 50px 20px 20px; } }
    .project_details .text .title {
      font: 45px/45px "PantonLight";
      color: #666666;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 25px; }
      @media screen and (max-width: 768px) {
        .project_details .text .title {
          font: 28px/28px "PantonLight"; } }
    .project_details .text p {
      font: 16px/18px "PantonLight";
      color: #666666; }
      @media screen and (max-width: 768px) {
        .project_details .text p {
          font: 14px/16px "PantonLight"; } }
  .project_details .gallery {
    margin: 0 -90px; }
    @media screen and (max-width: 1024px) {
      .project_details .gallery {
        margin: 0 -60px; } }
    @media screen and (max-width: 768px) {
      .project_details .gallery {
        margin: 0; } }
    .project_details .gallery ul {
      list-style-type: none;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        .project_details .gallery ul {
          height: auto !important;
          width: 100% !important; } }
      .project_details .gallery ul li {
        width: 235px;
        padding: 25px;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition: transform ease-out 0.3s;
        -moz-transition: transform ease-out 0.3s;
        -ms-transition: transform ease-out 0.3s;
        -o-transition: transform ease-out 0.3s;
        transition: transform ease-out 0.3s; }
        .project_details .gallery ul li:hover {
          -webkit-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
          transform: translateY(-20px); }
        @media screen and (max-width: 768px) {
          .project_details .gallery ul li {
            padding: 0 0 30px;
            position: static !important;
            margin: 0 auto; }
            .project_details .gallery ul li:hover {
              -webkit-transform: none;
              transform: none; } }
        .project_details .gallery ul li img {
          width: 235px;
          max-width: 100%;
          display: block;
          margin: 0 auto;
          box-shadow: 0px 2px 18px -2px rgba(0, 0, 0, 0.5); }

.project_links {
  background: #f5f5f5;
  text-align: center;
  padding: 40px 0; }
  .project_links a {
    text-decoration: none;
    color: #9555ec;
    font: 16px/28px "HelveticaLight", Aria, Helvetica, sans-serif;
    display: inline-block;
    padding: 0 20px 0 16px;
    height: 28px;
    vertical-align: middle;
    position: relative;
    -webkit-transition: opacity ease-out 0.2s;
    -moz-transition: opacity ease-out 0.2s;
    -ms-transition: opacity ease-out 0.2s;
    -o-transition: opacity ease-out 0.2s;
    transition: opacity ease-out 0.2s; }
    .project_links a:hover {
      opacity: 0.8; }
    .project_links a:before {
      content: "";
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle; }
    .project_links a:first-child {
      border-right: 1px solid #b7b7b7; }
    .project_links a.site:before {
      width: 18px;
      height: 18px;
      background: url(../images/site_ico.png) no-repeat 0 0; }
    .project_links a.mobile:before {
      width: 11px;
      height: 20px;
      background: url(../images/mobile_ico.png) no-repeat 0 0; }

.interest_header {
  background: #f5f5f5;
  padding: 55px 0 30px; }

@media screen and (max-width: 768px) {
  .interest {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; } }
.interest .item {
  height: 340px;
  color: #fff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font: 14px/1.25 "SegoeWPSemilight"; }
  @media screen and (max-width: 768px) {
    .interest .item {
      height: 250px; } }
  .interest .item:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    -webkit-transition: background 0.8s ease-in;
    -moz-transition: background 0.8s ease-in;
    -ms-transition: background 0.8s ease-in;
    -o-transition: background 0.8s ease-in;
    transition: background 0.8s ease-in;
    z-index: 2; }
  .interest .item:hover {
    text-decoration: none; }
    .interest .item:hover:after {
      background: rgba(0, 0, 0, 0.3); }
  .interest .item .title {
    text-decoration: none;
    display: block;
    font: 47px/47px "PantonLight";
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 5px;
    letter-spacing: -0.03em;
    display: block;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 1280px) {
      .interest .item .title {
        font: 40px/40px "PantonLight"; } }
    @media screen and (max-width: 1024px) {
      .interest .item .title {
        font: 30px/30px "PantonLight"; } }
  .interest .item .bottom {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0;
    padding: 0 20px; }
    .interest .item .bottom ul {
      list-style: none;
      margin: 20px 0 5px; }
      .interest .item .bottom ul li {
        display: inline-block;
        padding: 0 10px;
        border: 1px solid #fff;
        position: relative;
        line-height: 26px;
        border-radius: 13px;
        letter-spacing: -0.01em;
        margin: 0 3px 7px 0; }
    .interest .item .bottom .small {
      font: 9px/9px Trebuchet MS; }
    .interest .item .bottom p {
      margin: 0;
      max-width: 400px; }
.interest.portfolio {
  margin: 0 -20px; }
  .interest.portfolio .item {
    width: 50%;
    float: left;
    border-bottom: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5; }
    .interest.portfolio .item:nth-child(odd) {
      border-left: none; }
    @media screen and (max-width: 768px) {
      .interest.portfolio .item {
        width: 100%;
        border-left: none;
        float: none;
        height: 300px; } }
    .interest.portfolio .item:after {
      display: none; }
    .interest.portfolio .item .link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transition: background 0.8s ease-in;
      -moz-transition: background 0.8s ease-in;
      -ms-transition: background 0.8s ease-in;
      -o-transition: background 0.8s ease-in;
      transition: background 0.8s ease-in;
      z-index: 20; }
      .interest.portfolio .item .link:hover {
        background: rgba(0, 0, 0, 0.3); }

.bottom_block {
  background: #f5f5f5;
  height: 50px; }

.portfolio_nav {
  display: table;
  margin: 0 auto;
  padding: 15px 0; }
  @media screen and (max-width: 768px) {
    .portfolio_nav {
      margin: 0;
      padding: 15px 0 10px; } }
  .portfolio_nav a {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font: 11px/11px Trebuchet MS;
    text-transform: uppercase;
    border-bottom: 1px dashed #333333;
    margin: 0 15px;
    -webkit-transition: opacity ease-out 0.2s;
    -moz-transition: opacity ease-out 0.2s;
    -ms-transition: opacity ease-out 0.2s;
    -o-transition: opacity ease-out 0.2s;
    transition: opacity ease-out 0.2s; }
    @media screen and (max-width: 768px) {
      .portfolio_nav a {
        margin: 0 30px 5px 0;
        display: block; } }
    .portfolio_nav a:hover {
      opacity: 0.8; }
    .portfolio_nav a.active {
      color: #9555ec;
      font: bold 11px/11px Trebuchet MS;
      border-bottom: none; }

.flip_list .row {
  -webkit-transform: perspective(300px) translateZ(0) rotateX(90deg);
  transform: perspective(300px) translateZ(0) rotateX(90deg);
  opacity: 0.5;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }
  .flip_list .row.animated {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .flip_list .row {
      -webkit-transform: none;
      transform: none;
      opacity: 1; } }

.portfolio_list {
  margin-left: -2%; }
  @media screen and (max-width: 768px) {
    .portfolio_list {
      margin-left: 0; } }
  .portfolio_list .item {
    display: inline-block;
    float: left;
    color: #fff;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 23%;
    height: 400px;
    margin: 0 0 2% 2%;
    position: relative;
    background: #99083f; }
    @media screen and (max-width: 1680px) {
      .portfolio_list .item {
        height: 380px; } }
    @media screen and (max-width: 1280px) {
      .portfolio_list .item {
        height: 365px; } }
    @media screen and (max-width: 1024px) {
      .portfolio_list .item {
        height: 325px; } }
    @media screen and (max-width: 768px) {
      .portfolio_list .item {
        width: 100%;
        margin: 0 0 20px;
        height: auto; } }
    .portfolio_list .item .link {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      -webkit-transition: background 0.8s ease-in;
      -moz-transition: background 0.8s ease-in;
      -ms-transition: background 0.8s ease-in;
      -o-transition: background 0.8s ease-in;
      transition: background 0.8s ease-in; }
      .portfolio_list .item .link:hover {
        background: rgba(0, 0, 0, 0.3); }
    .portfolio_list .item .title {
      font: 29px/29px "PantonLight";
      text-transform: uppercase;
      margin-bottom: 10px; }
      @media screen and (max-width: 1680px) {
        .portfolio_list .item .title {
          font: 26px/26px "PantonLight"; } }
      @media screen and (max-width: 1024px) {
        .portfolio_list .item .title {
          font: 22px/22px "PantonLight"; } }
    .portfolio_list .item p {
      font: 12px/16px Trebuchet MS;
      margin: 0 0 10px;
      max-height: 65px;
      overflow: hidden; }
      @media screen and (max-width: 768px) {
        .portfolio_list .item p {
          max-height: auto; } }
    .portfolio_list .item span {
      font: 10px/10px Trebuchet MS;
      opacity: 0.5;
      display: block;
      margin-bottom: 20px; }
    .portfolio_list .item .picture {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 0;
      padding: 0 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      @media screen and (max-width: 768px) {
        .portfolio_list .item .picture {
          position: static;
          padding: 0; } }
      .portfolio_list .item .picture img {
        display: block;
        width: 100%; }

/*# sourceMappingURL=style.css.map */
