.private_info_data {
	padding: 2px 0 13px;
	background: url('/img/lk_new/dashed_border.png?new22') repeat-x left top;
	position: relative;
	font-size: 12px;
}
	.private_info_data:first-child {
		background-image: none;
	}
	.private_info_data h2 {
		color: #2997bc;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		line-height: 35px;
	}
	.private_info_data .private_info_data_block {
		border: 1px solid #989898;
		padding: 8px 10px 12px;
		margin: 0 18px 11px 0;
		width: 474px;
		float: left;
		font-size: 12px;
	}
		.private_info_data .private_info_data_block.second {
			margin-right: 0;
		}
		.private_info_data .private_info_data_block .item1_time_location {
			height: 65px;
		}
		.private_info_data .private_info_data_block .item1_img {
			float: right;
			margin: 0 0 4px 10px;
			min-height: 80px;
			width: 131px;
		}
			.private_info_data .private_info_data_block .item1_img .item1_img_link {
				display: block;
			}
				.private_info_data .private_info_data_block .item1_img .item1_img_link img {
					max-width: 131px;
					max-height: 160px;
				}
			.private_info_data .private_info_data_block .item1_img .item1_img_link_second {
				display: none;
			}
			.private_info_data .private_info_data_block .item1_img .item1_img_count {
				display: block;
				text-align: center;
				line-height: 20px;
				font-size: 12px;
				font-style: italic;
				color: #000000;
			}
		.private_info_data .private_info_data_block .item2_img {
			float: left;
			margin: 0 10px 4px 0;
			width: 154px;
		}
			.private_info_data .private_info_data_block .item2_img .item2_img_link {
				display: block;
			}
				.private_info_data .private_info_data_block .item2_img .item2_img_link img {
					max-width: 154px;
					max-height: 160px;
				}
			.private_info_data .private_info_data_block .item2_img .item2_img_link_second {
				display: none;
			}
			.private_info_data .private_info_data_block .item2_img .item2_img_count {
				display: block;
				text-align: center;
				line-height: 20px;
				font-size: 12px;
				color: #000000;
			}
		.private_info_data .private_info_data_block .button {
			float: right;
			clear: right;
			line-height: 26px;
			font-size: 11px;
			text-transform: uppercase;
			margin: 0 0 0 10px;
		}
		.private_info_data .private_info_data_block .item1_title_data {
			height: 75px;
			font-size: 12px;
			margin-bottom: 5px;
		}
		.private_info_data .private_info_data_block .item1_title {
			font-weight: bold;
		}
		.private_info_data .private_info_data_block .item2_data_wrap {
			float: right;
			width: 307px;
		}
		.private_info_data .private_info_data_block .item2_title_data {
			font-size: 13px;
		}
		.private_info_data .private_info_data_block .item2_title {
			font-weight: bold;
			text-decoration: underline;
			display: block;
			color: #000000;
		}
			.private_info_data .private_info_data_block .item2_title:hover {
				text-decoration: none;
			}
			.private_info_data .private_info_data_block .item2_title_data .item_text_short {
				
			}
		.private_info_data .private_info_data_block .item1_response {
			margin-top: 10px;
			height: 58px;
		}
		.private_info_data .private_info_data_block .item1_response_status {
			font-weight: bold;
			text-transform: uppercase;
			height: 30px;
		}
		.private_info_data .private_info_data_block .item1_response_data {
			font-style: italic;
		}
	.private_info_data .private_info_data_block_date {
		border: 1px solid #d6d6d6;
		padding: 15px 12px;
		margin: 31px 19px 11px 0;
		width: 298px;
		float: left;
		position: relative;
		height: 90px;
	}
		.private_info_data .private_info_data_block_date.third {
			margin-right: 0;
		}
		.private_info_data .private_info_data_block_date .left_border {
			border-left: 3px solid #6cbfe2;
			width: 0;
			position: absolute;
			left: -1px;
			top: -1px;
			bottom: -1px;
		}
		.private_info_data .private_info_data_block_date .item_date {
			position: absolute;
			top: -26px;
			left: -1px;
			line-height: 18px;
			font-size: 11px;
			color: #ffffff;
			background: #01c0e4;
			padding: 4px 8px 0;
			font-weight: bold;
			font-style: italic;
		}
			.private_info_data .private_info_data_block_date .item_date:before {
				content: "";
				position: absolute;
				bottom: -6px;
				left: 38px;
				background: url('/img/lk_new/bottom_arrow_down.png') no-repeat 0 0;
				height: 8px;
				width: 16px;
			}
			.private_info_data .private_info_data_block_date .item_date b {
				font-size: 18px;
				line-height: 18px;
				display: inline-block;
				font-style: normal;
				vertical-align: top;
				margin-top: -2px;
				margin-right: 2px;
			}
		.private_info_data .private_info_data_block_date .item_title {
			font-weight: bold;
			font-size: 13px;
			color: #000000;
			height: 57px;
			display: block;
			overflow: hidden;
		}
			.private_info_data .private_info_data_block_date .item_title:hover {
				text-decoration: underline;
			}
		.private_info_data .private_info_data_block_date .item_addr {
			background: url('/img/lk_new/icon_place.png') no-repeat 2px 0;
			font-size: 13px;
			font-style: italic;
			line-height: 18px;
			padding: 7px 0 0 24px;
		}
	.private_info_data .button {
		float: right;
	}
